// Colours


$link: #fff;
$active-link: #ffb700;

$background-blue:#0e2c63;
$background-dropdown:rgba(19,37,68,1);

$black: #000;
$grey: #616365;
$dark-grey: #929288;
$lighter-grey: #f6f6f6;
$offwhite: #eeeeee;


$blue: #007fa4;
$dark-blue: #1e428a;
$darker-blue: #254488;
$light-blue: #7ec2d6;
$lighter-blue: rgba(0,127,164,0.2);


$rodeo-dust: #cdc3bb;
$dawn: #a49f9b;
$orange: #f08017;
$yellow: #ffb700;
$red: #e7392c;
$turquoise: #45a9c6;



$primary: #f9f9f9;
$white: #fff;
$black:#030911;
$secondary: #666666;
$inactive: #999999;
$error: #D21717;

$primary-button: #78b6fa;
$secondary-button: #eaeaea;
$success-icon: #167255;

$background-dark: #eaeaea;
$background-light: #f4f4f4;