// Font Families

$font-ICLP: 'Lato', sans-serif;

$font-ICLPbold: 'ICLPBold';
$font-ICLPblack: 'ICLPBlack';
$font-ICLPRegular: 'ICLPRegular';
$font-ICLPlight: 'ICLPLight';
$font-icons: 'Simple-Line-Icons';
