//ipad settings
$container-width: 768px;

//iPhone settings
$container-width: 768px;

//Desktop settings
$container-width: 768px;

$mobile-width: 767px;

$font-family: ICLPRegular, Helvetica, Arial, sans-serif;

//grid
$container-width-thin: 974px;
$container-width: 1140px;
$gutter: 36px;
$column: 62px;
$textIndent: 20px;
$width-thin-plus-gutters: $container-width-thin + $gutter + $gutter;
$width-plus-gutters: $container-width + $gutter + $gutter;
$column-plus-gutter: $column + $gutter;


$gutterW:2.80374%;
$tabletPortraitGutterW:2.80374%;


// colours
$link: #fff;
$active-link: #ffb700;

$background-blue:#0e2c63;
$background-dropdown:rgba(19,37,68,1);


//COLOURS
$dark-grey:#929288;
$darker-grey:#3a3b3d;
$grey:#616365;
$offwhite:#eeeeee;
$rodeo-dust:#cdc3bb;
$lighter-grey:#f6f6f6;
$dark-blue:#1e428a;
$darker-blue:#254488;
$orange: #f08017;
$light-blue:#7ec2d6;
$blue:#007fa4;
$lighter-blue:rgba(0,127,164,0.2);
$yellow:#ffb700;
$red:#e7392c;
$black:#000;
$turquoise:#45a9c6;


$bigrow: 480px;
$smallrow: 240px;


$primary: #f9f9f9;
$white: #fff;
$black:#030911;
$secondary: #666666;
$inactive: #999999;
$error: #D21717;

$primary-button: #78b6fa;
$secondary-button: #eaeaea;
$success-icon: #167255;

$background-dark: #eaeaea;
$background-light: #f4f4f4;


$size: 45px;
$isize: 20px;
$thickness: 4px;
$angle: 45deg;
$angleHover: 30deg;
$angleActive: 25deg;




 // Variables
$circleDiam: 70px;
$innerCircleDiam: $circleDiam/3;
$rotatingCircleDiam: $circleDiam/5;

$innerCirclePos: ($circleDiam - $innerCircleDiam)/2;
$rotatingCirclePosLeft: ($circleDiam - $innerCircleDiam)/2 - $rotatingCircleDiam;
$rotatingCirclePosTop: $circleDiam/2 - $rotatingCircleDiam/2;



    $bp-ipad-max: 1024px;
    $bp-ipad-min: 768px;
    $bp-iphone5-max: 568px;
    $bp-iphone-max: 480px;
    $bp-iphone-min: 320px;


//== Modals
//

//##

$modal-lg: 518px !default;
$modal-md: 600px !default;
$modal-sm: 300px !default;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;
// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;



$line-height-base: 1.428571429 !default; // 20/14
$font-size-base: 14px !default;


$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;

$line-height-large: 1.33 !default;
$line-height-small: 1.5 !default;

$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;



$zindex-modal-background: 1040 !default;
$zindex-modal: 1050 !default;

//** Padding applied to the modal body
$modal-inner-padding: 15px !default;

//** Padding applied to the modal title
$modal-title-padding: 15px !default;
//** Modal title line-height
$modal-title-line-height: $line-height-base !default;

//** Background color of modal content area
$modal-content-bg: #132544 !default;




//** Modal content border color
$modal-content-border-color: rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color: #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg: #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity: .5 !default;
//** Modal header border color
$modal-header-border-color: #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color: $modal-header-border-color !default;


