// Navtabs (Bootstrap)

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs > li {
    margin-bottom: 0;

    a {
        color: $grey;
        font-weight: bold;

        &:hover {

        }
    }

    &.active {

        a {
            color: $grey;
            font-weight: bold;
        }
    }

    @include breakpoint(bigDesktop) {
        margin-right: 15px;
        margin-bottom: 0;
        float: left;

    }

    @include breakpoint(phonePortrait) {
        margin-right: 0;
        margin-bottom: 10px;
        float: none;

    }


}