.sections{
	> section{
		clear:both;
		width: 100%;

		&.angle{
			position: relative;
			margin-bottom: -112px;
			padding-bottom: 112px;
			background: $white;

		 	&:after{
				content: '';
				position: absolute;
				width: 100%;
				height:126px;
				bottom:10%;
				left:0;
				@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
				@include transition(opacity 0.3s ease-out);
				background: $white;
				z-index: 1;

				@include breakpoint(phonePortrait) {
					height: 30px;
					bottom: 23%;
				}
			}
		}

		&.head{
			.head-container{
				.head-theme{
					.headings{
						position: relative;
						min-height: 368px;
						width: 100%;
						padding: 0;
						@include breakpoint(tabletPortrait) {
								min-height: 258px;
							}
							@include breakpoint(phonePortrait) {
								min-height: 208px;
							}

						&.theme{
							overflow: hidden;
							.wrap-headings{
								padding: 54px 0 0px 0;
								@include breakpoint(phonePortrait) {
									padding: 50px 0 0px 0;
								}
								.ring{
									position: absolute;
									top: 0;
									height: 100%;
									min-width: 1170px;
									left: 50%;
									margin-left: -580px;


									@include breakpoint(tabletPortrait) {
										min-width: 800px;
										margin-left: -400px;
									}
									@include breakpoint(phonePortrait) {
										min-width: 350px;
										margin-left: -180px;
									}
									&:before{
										content: "";
										position: absolute;
										top:0;
										left:0;
										width: 100%;
										height: 100%;
										z-index: 2;
										background-size: cover;
										background-repeat: no-repeat;
										background-position: center 0;
										background-size: 100%;
										background-image: url(/assets/images/svg/Banner-Clients-JourneyCurve-L1.svg);

										@include breakpoint(phonePortrait) {
											background-position: center 100%;
											@include transform (rotate(180deg));
											background-size: 148%;
										}
									}
								}
								>h1{
									max-width: 570px;
									position: relative;
									overflow: hidden;
									z-index: 4;
									text-align: center;
									margin:auto;
									padding:0;
									color: $white;

									@include breakpoint(tabletPortrait) {
										 font-size:36px;
									}
									@include breakpoint(phonePortrait) {
										font-size:28px;
									}
								}
								>h2{
									max-width: 460px;
									text-align: center;
									margin: auto;
									position: relative;
									z-index: 4;
									padding:0;
									font-weight: 300;
									color: $white;
									line-height: 1.1em;
									@include breakpoint(tabletPortrait) {
										display: none;
									}
								}
							}
						}
						&.imagery{
							overflow: hidden;
							padding:0;
							min-height: 234px;
							@include breakpoint(phonePortrait) {
								min-height: 195px;
							}
							.wrap-headings{
								.ring{
									position: absolute;
									top: 0;
									height: 318px;
									max-width: 1170px;
									width: 100%;
									@include breakpoint(phonePortrait) {
										height: 100px;
									}
									&:before{
										content: "";
										position: absolute;
										top:0;
										left:0%;
										width: 100%;
										min-width: 1170px;
										height: 100%;
										z-index: 1;
										background-size: cover;
										background-size: 100%;
										background-position:center 100%;
										background-repeat:  no-repeat;

										@include breakpoint(tabletPortrait) {
											background-position:center 100%;
										}
										@include breakpoint(phonePortrait) {
											background-position: 0px 85%;
											background-size: 60%;
										}
									}
								}
							}
						}

						> img{
							position: absolute;
							top:0;
							left:0;
							min-width: 1170px;
							height: auto;
							z-index: 1;
							@include breakpoint(tabletPortrait) {
								display: none;
							}
						}
					}

					.sub-heading{
						margin-top: 0px;
						>h3{
							width: 100%;
							font-size: 26px;
							font-weight: 300;
							text-align: center;
							margin: auto;
							position: relative;
							z-index: 4;
							padding: 30px 16% 65px 16%;
							color: $grey;

							@include breakpoint(tabletPortrait) {
								padding: 30px 60px 65px 60px;
							}
							@include breakpoint(phonePortrait) {
								font-size:22px;
								line-height: 1.2em;
								padding: 0px 20px 40px 20px;
							}

							@include breakpoint(normalDesktop) {
								width: 70%;
							}
						}
						.titles{
							width: 100%;
							margin: 0 auto;
							position: relative;
							margin-top: 10px;
							padding: 0px 16% 0px 16%;
							display: block;
							z-index: 4;
							@include breakpoint(tabletPortrait) {
								margin-top: -40px;
								padding: 0px 60px 10px 60px;
							}
							@include breakpoint(phonePortrait) {
								padding: 0px 20px 10px 20px;
							}
							&:before{
								content: '';
								position: absolute;
								width: 100%;
								height:280px;
								top:-50px;
								left:0;
								@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
								background: $white;
								@include transition(all 0.9s ease-out);
								opacity: 1;
							}
							&:after{
								content: '';
								position: absolute;
								width: 100%;
								height:280px;
								bottom:-76px;
								left:0;
								@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
								background: $white;
								@include transition(all 0.9s ease-out);
								opacity: 1;
								@include breakpoint(phonePortrait){
									bottom:-20px;
								}
							}
							h1{
								max-width: 1170px;
								padding: 0px 0px 10px 0px;
  							margin:0 auto;
								position: relative;
								display: block;
								text-align: center;
								z-index: 1;
								&.client{
									padding:0px;
									display: table; //important as keeps the width of the image 50%
									z-index: 5;
									img{
										margin:0 auto;
										display: block;
										width: 50%;
										height: auto;
										@include breakpoint(phonePortrait) {
										width: 80%;
									}
									}
								}
							}
							h2{
								max-width: 1170px;
  								margin:0 auto;
								position: relative;
								text-align: center;
								display: block;
								z-index: 1;
								text-transform: inherit;
								padding: 0px 0% 12px 0%;

								@include breakpoint(phonePortrait) {
									font-size:22px;
									line-height: 1.2em;
									padding: 0;
								}
								@include breakpoint(normalDesktop) {
									width: 70%;
								}
							}
							h3{
								font-style: italic;
								background: $white;
								font-size: 17px;
								text-align: center;
								display: block;
								position: relative;
								z-index: 1;
								padding: 50px 0 12px 0;
								margin: 0 auto;
								@include breakpoint(normalDesktop) {
									width: 70%;
								}
								@include breakpoint(phonePortrait) {
									padding: 30px 0 0 0;
								}
								&:before{
									top: 30px;
									left:0;
									width: 100%;
									content: "";
									position: absolute;
									height: 1px;
									@include breakpoint(phonePortrait) {
										top: 15px;
									}
								}
							}
							blockquote{
								text-align: center;
								display: block;
								position: relative;
								z-index: 1;
								font-size: 17px;
								padding: 12px 0;
							}
						}
					}
					.angle{
						position: absolute;
						width: 100%;
						height: 100%;
						overflow: hidden;
						padding: 0px 0%;
						top:134px;
						@include breakpoint(tabletPortrait) {
						  top: 19px;
						}
						&.imagery{
							top:0;
							.breadcrumb{
								@include breakpoint(phonePortrait) {
									margin: 72px 0 0px 0;
								}
							}
						}

						&:before{
							content: '';
							position: absolute;
							width: 100%;
							height:100%;
							top:134px;
							left:0;
							@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
							background: $white;
							z-index: 2;
							@include transition(all 0.9s ease-out);
							opacity: 1;
						}

						.breadcrumb{
							margin: 134px 0 0px 0;
							z-index: 5;
							@include breakpoint(phonePortrait) {
								margin: 94px 0 0px 0;
							}
						}
					}
				}
			}
		}


		&.copy-content{
			&:before{
				@include breakpoint(tabletPortrait) {
					display: none;
				}
				@include breakpoint(phonePortrait) {
					display: none;
				}
			}
			&.imagery{
				&:before{
					background-image: none!important;
				}
			}
			.copy-wrap{
				position: relative;
				overflow: hidden;
				&:nth-child(odd){
					overflow: hidden;

				}
				.copy{
					max-width: 1170px;
					margin:0 auto;
					padding: 100px 20px 100px 20px;
					position: relative;

					@include breakpoint(desktop) {
						padding: 60px;
					}
					@include breakpoint(phonePortrait) {
						padding: 20px 20px 20px 20px;
					}

					img{
						position:absolute;
						z-index: 1;
						right: 0;
						width: 50%;
						height: auto;
						top: 50%;
						padding-right: 20px;
  					@include transform(translateY(-50%));

						@include breakpoint(tabletPortrait) {
							display: none;
						}
					}
					h2{
						position: relative;
						z-index: 1;
						color:$grey;
						padding-right: 50%;
						padding-bottom: 18px;
						@include breakpoint(tabletPortrait) {
							padding: 12px 0 12px 0;
							font-size: 22px;
		        }
					}
					ul{
						li{
							display: block;
							position: relative;
							z-index: 1;
							line-height: 1.7em;
							font-size: 17px;
							color:$grey;
							padding-right: 30%;
							padding-bottom: 6px;
							padding-left: 30px;
							-webkit-font-smoothing: auto;
  						-moz-osx-font-smoothing: auto;
  						font-weight: 300;

							@include breakpoint(tabletPortrait) {
								padding: 0 0% 6px 20px;
								font-size: 18px;
								max-width: 650px;
							}
							&:before{
								position: absolute;
								content: ".";
								font-size: 40px;
								top:-12px;
								left:0;
								@include border-radius(10%);
								color: $grey;
							}
						}
					}
					p{
						position: relative;
						z-index: 1;
						color:$grey;
						padding-right: 30%;
						line-height: 1.5em;
						font-weight: 300;

						& + p{
							padding-top: 18px;
						}

						@include breakpoint(tabletPortrait) {
							font-size: 18px;
							padding-right: 0%;
		        }
					}
					@include breakpoint(phonePortrait) {
						background-image: none;
	        }
				}

				&.result{
				 &:before{
					content: "";
					position: absolute;
					top:0;
					left:0%;
					width: 100%;
					height: 100%;
					z-index: 1;
					background-size: cover;
					background: url(../assets/images/svg/Clients-Section-Results-JourneyCurve.svg) 50% 0% no-repeat;
					background-size: 100%;
					@include breakpoint(tabletPortrait) {
						display: none;
					}

				 }
				}
			}
		}


	}
	&#contact-form{
		top: 75px;
		@include breakpoint(phonePortrait) {
      top:48px;
    }
	}
}