iframe#twitter-widget-0 {
  max-width:100%!important;
  min-width:100%!important;
  display: block!important;
  margin: auto!important;
  max-height: 300px !important;
  min-height: 200px !important;
  
  @include breakpoint(tabletPortrait) {
  	max-width:800px!important;
  	min-width:100%!important;
  }
  @include breakpoint(tabletPortrait) {
  	max-width:3200px!important;
  	min-width:320px!important;
  }

}
