#aboutus{

	.sections{
		section{
			&.head{
				.head-container{
					.head-theme{
						.headings{
								&.theme{
									.angle{
									z-index: 2;
									}
									.ring{
										&:before{
											background-image: url(../assets/images/svg/Banner-WhatWeDo-JourneyCurve-L1.svg);
										}
									}
								}

								&.imagery{
									background: $darker-blue;
									.ring{
										&:before{
											background-image: url(../assets/images/svg/Banner-Services-JourneyCurve-L2.svg);
										}
									}
								}
							}
					 
							.angle{
								&:before{
									// @include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-5deg) skewX(0deg));
								} 
							}
							.sub-heading{
							h3{
								color: $grey;
							}
							.titles{
								h1,h2,h3,blockquote{
									color: $grey;
								}
								h2{
									text-transform: inherit
								}
							}
						}
					}
				}
			}
		 
			&.copy-content{
				&:before{
 					@include breakpoint(phonePortrait) {
						display: none;
					}
				}
				.copy{
					&:first-child{
						padding-top:178px;
						@include breakpoint(phonePortrait) {
							padding-top: 128px;
						}
					}
					&:nth-child(odd){
						background:$rodeo-dust;
					}
					h2{
						color: $grey;
					}
				}

			}
			&.head,
			&.hero-services{
				position: relative;
				padding: 0;
				z-index: 1;
				background: $ebb;
				.nav-icons{
					position: relative;
					top: 0;
					width: 100%;
					z-index: 3;
					background: #ebe7e4;
					.icons{
						display: table;
						padding: 0;
						max-width: 1170px;
						margin: auto;
						&:first-of-type {
							margin-top: 20px;
						}
						&:last-of-type {
							margin-bottom: 20px;
						}
						@include breakpoint(desktop) {
							padding: 10px;
						}
						@include breakpoint(tabletPortrait) {
							width: 100%;
							padding: 0px 0;
						}

						a.icon-wrap{
							position: relative;
							display: table-cell;
							width: 550px;
							padding: 0px 10px 100px 10px;
							@include transition((all 0.5s ease-out));
							@include transform(translateZ(0px));
							background: $turquoise;
							border-right: 15px solid $ebb;
							overflow: hidden;

							&:after{
						    content:'';
						    position:absolute;
						    left:0;
						    top:0;
						    bottom: 0;
						    width:100%;
						    height:600px;
						    // background: $orange;
						    background-size:cover;
						    opacity:1;
						    @include transition((all 0.35s ease-out));
						    z-index: -1;
							}
							&:hover:after{
							  opacity:0;
							  background: rgba(0,0,0,0.20);
							}

							&.active p:after,
							&.active p:before{
								background: $ming;
							}
							h2.animated{
								padding-top: 220px;
								@include breakpoint(phonePortrait) {
									margin:18px 0 0 0;
								}
								&.team:before {
									top: 18px;
									left: 50.4%;
									margin-left: -20px;
									font-size: 35px;
									content: "\e09b";
									@include breakpoint(tabletPortrait){
										font-size: 26px;
										margin-left: 0px;
										top: 2px;
										left: 11px;
									}
								}
								&.collinson:before {
									top: 18px;
									left: 50.4%;
									margin-left: -20px;
									font-size: 35px;
									content: "\e037";
									@include breakpoint(tabletPortrait){
										font-size: 26px;
										margin-left: 0px;
										top: 2px;
										left: 11px;
									}
								}

								span{
									text-align: center;
									width: 100%;
									position: absolute;
									top:110px;
									left:0;
									font-size: 26px;
									font-weight: 400;
									&:after{
								    content:'';
								    position:absolute;
								    left:20%;
								    top:40px;
								    width:60%;
								    height: 1px;
								    background:$white;
								    @include breakpoint(tabletPortrait){
								    	display: none;
								    }
									}
								}

								&.customerengagement{
									span{
										top: 100px;
										&:after{
											top: 62px;
										}
									}
								}
							}
							p{
								display: block;
								text-align: center;
								padding:0px 15% 48px 15%;
								position: absolute;
								top: 185px;
								height: 80px;
								overflow: hidden;
								text-overflow: ellipsis;
								color: $white;
								font-weight: 300;
								font-size: 15px;
							}
							span.view{
								border: 1px solid $white;
								@include border-radius(3px);
								padding: 10px 15px;
								margin:20px auto;
								text-align: center;
								position: absolute;
								bottom: 30px;
								left: 44.5%;
								margin-left: -40px;
								color: $white;
								text-transform: uppercase;
								@include transition((all 0.35s ease-out));

								&:hover{
		             background: rgba(255,255,255,0.2);
		            }

							}
							&:focus .circle[data-anim~=bigger],
							&:hover .circle[data-anim~=bigger]{
						    opacity: 0.75;
						  }
						  &:focus .circle[data-anim~=bigger]:before,
						  &:hover .circle[data-anim~=bigger]:before{
						    @include transform (rotate(180deg));
						  }
						  &:focus .circle[data-anim~=smaller],
						  &:hover .circle[data-anim~=smaller]{
						    opacity: 1;
						  }
						  &:focus .circle[data-anim~=smaller]:before,
						  &:hover .circle[data-anim~=smaller]:before{
						    @include transform (rotate(180deg));
						  }
						  &.active{


								.circle[data-anim~=bigger],
								.circle[data-anim~=bigger]{
							    opacity: 0.75;
							  }
							  .circle[data-anim~=bigger]:before,
							  .circle[data-anim~=bigger]:before{
							    @include transform (rotate(180deg));
							  }
							  .circle[data-anim~=smaller],
							  .circle[data-anim~=smaller]{
							    opacity: 1;
							  }
							  .circle[data-anim~=smaller]:before,
							  .circle[data-anim~=smaller]:before{
							    @include transform (rotate(180deg));
							  }
							  &:after{
								  opacity:1;
								  @include breakpoint(phonePortrait) {
									  background:#904d0e;
									}
								}
						  }
						  &:hover{
						  }
						  &:focus,&:hover{
								background-image: none;
							}
							&:focus:after,&:hover:after{
							  opacity:1;
							  background:$ming;
							} 
						}
					}
					@include breakpoint(tabletPortrait) {
						.icons{
							display: inline-block;
							a.icon-wrap{
								padding: 0px 0;
								background-image: none;
								width: 85%;
								display: inline-block;
								border:0;
								border-top: none;
								height: auto;
								margin: 5px 0 10px 8%;
								&:focus,&:hover{
									background-image: none;
								}
								&:focus:after,&:hover:after{
								  opacity:1;
								  background:$ming;
								} 
								h2.animated{
									padding:22px 0;
									span{
										top:0!important;
										left:0px;
										text-align: left;
										padding-left: 60px;
										font-size: 18px;
									} 

									.wrapper-circle{
										display: none;

									}
								}
								p,span.view{
									display: none;
								}
							}
						}
					}
				}
			}
			&.head{
				.icons a.icon-wrap h2.animated{
					margin-top: 20px;
					padding:110px 0 20px 0;
				}
			}
		}
	}
}