#careers{

	.sections{
		section{
			&.head{
				.head-container{
					.head-theme{
						.headings{
							&.theme{
								.angle{
									z-index: 2;
								}
								.ring{
									&:before{
										background-image: url(../assets/images/svg/Banner-Services-JourneyCurve-L1.svg);
									}
								}
							}

							&.imagery{
								background: $orange;
								.ring{
									&:before{
										background-image: url(../assets/images/svg/Banner-Services-JourneyCurve-L2.svg);
									}
								}
							}
						}

						.angle{
							&:before{
								@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
							}
						}

						.sub-heading{
							h3{
								color: $grey;
								padding: 20px 16% 0px 16%;
								// @include breakpoint(phonePortrait){
								// 	padding: 0px 20px 40px 20px; 
								// }
							}
							.button{
									z-index: 2;
									position: relative;
									height: 100%;
									width: auto;
									display: block;
									margin-top: 20px;
								}
							.titles{
								h1,h2,h3,blockquote{
									color: $grey;
								}
								&:after{
								content: '';
								position: absolute;
								width: 100%;
								height:280px;
								bottom:-25px;
								left:0;
								@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
								background: $white;
								@include transition(all 0.9s ease-out);
								opacity: 1;
								@include breakpoint(phonePortrait){
									bottom:-20px;
								}
							}
								h2{
									text-transform: inherit
								}

							}
						}

					}
				}
			}

			&.copy-content{
				&:before{
					display: none;
 					@include breakpoint(phonePortrait) {
						display: none;
					}
				}
				.copy-wrap{
					&:nth-child(odd){
						// background:$lighter-grey;
					}
					&:first-child{
						.copy{
							padding-top:50px;
							z-index: 5;
							@include breakpoint(phonePortrait) {
								padding-top: 50px;
							}
						}
					}
					.copy{
						padding: 0 0 50px 0;
						h2{
							color: $grey;
						}
						p {
							padding-right: 50%;
							@include breakpoint(tabletPortrait) {
								padding-right: 0px;
							}
						}

						.top-table{
							background: $turquoise;
							height: 100px;
							width: auto;
							padding: 20px;
							.country{
								display: inline-block;
								position: relative;
								background: $white;
								label{
									position: absolute;
									top: 15px;
									left: 10px;
									display: inline-block;
									height: 100%;
									font-size: 1.3em;
								}
								select {
									height: 52px;
									border: none;
									font-size: 18px;
									font-weight: 300;
									color: $grey;
									-webkit-appearance: none;
									-moz-appearance: none;
									text-indent: 0.01px;
									text-overflow: '';
									margin-left: 40px;
									line-height: normal;
									cursor: pointer;
									width: 100%;
									@include breakpoint(phonePortrait){
									width: 80%;
								}
									option{
										color: $grey;
										background: $white;
										padding: 10px 0;
									}
								}
							}
						}
						.view-load{
							margin-top: 30px;
							width: 100%;
							height: auto;
							background: $rodeo-dust-lighter;
							color: $dark-grey;
							box-shadow: none;
							font-weight: bold;
							outline: 0;
						}
						table {
							width: 100%;
							text-align: left;
						}
						tbody tr:nth-child(odd) {
							  background: $rodeo-dust-lighter;
							}
						th{
							font-size: 17px;
							font-weight: bold;
							background: $westar;
							padding: 0 20px;
							height: 80px;
							vertical-align: middle;
							text-transform: uppercase;
							letter-spacing: 1px;
						}
						td {
							font-size: 17px;
							padding: 0 20px;
							vertical-align: middle;
							height: 50px;
							@include breakpoint(phonePortrait){
								&:last-of-type{
									display: none;
								}
								display: block;
								padding-top: 10px;
								height: 35px;
								line-height: 1em;
							}
							.button{
								float: right;
								background: $turquoise;
								a{
									color: $white;
								}
								&:hover{
									background: $ming;
								}
							}
							a{
								font-weight: bold;
							}
						}
						tr {
							font-size: 17px;
							padding: 0 20px;
							vertical-align: middle;
							height: 50px;
							@include breakpoint(phonePortrait){
								&:first-of-type{
									display: none;
								}
							}
							a{
								font-weight: bold;
							}
						}
					}
				}
			}
			&.head,
			&.hero-services{
				position: relative;
				padding: 0px 0 0px 0;
				z-index: 1;
				.nav-icons{
					position: relative;
					top: 0;
					width: 100%;
					z-index: 3;
					background: #ebe7e4;
					.icons{
						display: table;
						padding: 10px 0 10px 0;
						max-width: 1170px;
						margin: auto;
						@include breakpoint(desktop) {
							padding: 10px;
						}
						@include breakpoint(tabletPortrait) {
							width: 100%;
							padding: 0px 0;
						}

						a.icon-wrap{
							position: relative;
							display: table-cell;
							width: 20%;
							padding: 0px 10px 100px 10px;
							@include transition((all 0.5s ease-out));
							@include transform(translateZ(0px));
							background: $turquoise;
							border-right: 10px solid $ebb;
							overflow: hidden;
							&:last-child{
								border-right: 0px solid #f08017;
							}

							&:after{
						    content:'';
						    position:absolute;
						    left:0;
						    top:0;
						    bottom: 0;
						    width:100%;
						    height:600px;
						    // background: $orange;
						    background-size:cover;
						    opacity:1;
						    @include transition((all 0.35s ease-out));
						    z-index: -1;
							}
							&:hover:after{
							  opacity:0;
							  background: rgba(0,0,0,0.20);
							}

							&.active p:after,
							&.active p:before{
								background: $ming;
							}


							h2.animated{
								margin-top:30px;
								@include breakpoint(phonePortrait) {
									margin-top:18px;
								}
								span{
									text-align: center;
									width: 100%;
									position: absolute;
									top:98px;
									left:0;
									&:after{
								    content:'';
								    position:absolute;
								    left:20%;
								    top:48px;
								    width:60%;
								    height: 1px;
								    background:$white;
									}
								}

								&.customerengagement{
									span{
										top: 100px;
										line-height: 1.1em;
										&:after{
											
										}
									}
								}
							}
							p{
								width: 96%;
								display: block;
								text-align: center;
								margin: 50px auto 0px auto;
								padding:0 10px;
								position: relative;
								color: $white;
								font-weight: 300;

							}
							span.view{
								border: 1px solid $white;
								@include border-radius(3px);
								padding: 10px 40px;
								margin:0px auto;
								text-align: center;
								position: absolute;
								z-index: 2;
								bottom: 30px;
								left: 50%;
								margin-left: -63px;
								color: $white;
								@include transition((all 0.35s ease-out));

								&:hover{
		             background: rgba(255,255,255,0.2);
		            }
							}
							&:focus .circle[data-anim~=bigger],
							&:hover .circle[data-anim~=bigger]{
						    opacity: 0.75;
						  }
						  &:focus .circle[data-anim~=bigger]:before,
						  &:hover .circle[data-anim~=bigger]:before{
						    @include transform (rotate(180deg));
						  }
						  &:focus .circle[data-anim~=smaller],
						  &:hover .circle[data-anim~=smaller]{
						    opacity: 1;
						  }
						  &:focus .circle[data-anim~=smaller]:before,
						  &:hover .circle[data-anim~=smaller]:before{
						    @include transform (rotate(180deg));
						  }
						  &.active{
						  	background: $ming;

								.circle[data-anim~=bigger],
								.circle[data-anim~=bigger]{
							    opacity: 0.75;
							  }
							  .circle[data-anim~=bigger]:before,
							  .circle[data-anim~=bigger]:before{
							    @include transform (rotate(180deg));
							  }
							  .circle[data-anim~=smaller],
							  .circle[data-anim~=smaller]{
							    opacity: 1;
							  }
							  .circle[data-anim~=smaller]:before,
							  .circle[data-anim~=smaller]:before{
							    @include transform (rotate(180deg));
							  }
							  &:after{
								  opacity:1;
								  background:$ming;
								  @include breakpoint(phonePortrait) {
									  background: $ming;
									}
								}
						  }
						  &:hover{
						  }
						  &:focus,
						  &:hover{
								background-image: none;
							}
							&:focus:after,
							&:hover:after{
							  opacity:1;
							  background: #336979;
							}
						}
					}
					@include breakpoint(tabletPortrait) {
						.icons{
							display: inline-block;
							a.icon-wrap{
								padding: 0px 0;
								background-image: none;
								width: 85%;
								display: inline-block;
								border:0;
								/*border-top:1px solid $white;*/
								height: auto;
								margin: 5px 0 10px 8%;
								&:first-of-type{
									margin-top: 20px;
								}
								&:last-of-type{
									margin-bottom: 20px;
								}
								&:focus,
								&:hover{
									background-image: none;
								}
								&:focus:after,
								&:hover:after{
								  opacity:1;
								  background: $ming;
								}
								h2.animated{
									padding:22px 0;
									span{
										top:0!important;
										left:0px;
										text-align: left;
										padding-left: 60px;
										font-size: 18px;
									}

									.wrapper-circle{
										display: none;

									}
								}
								p,span.view{
									display: none;
								}
							}
						}
					}
				}
			}
			&.head{
				.icons a.icon-wrap h2.animated{
					margin-top: 20px;
					padding:110px 0 20px 0;
				}
			}
		.input-group{
			height: 46px;
			input[type="file"]{
				position: relative;
				height: 46px;
				top: 10px;
				cursor: pointer;
				width: 100%;
			}
		}
	}
	}
}