#ourteam{
	.sections{
		section{
			&.head{
				.head-container{
					.head-theme{
						.headings{
							&.theme{
								.ring{
									&:before{
										background-image: url(../assets/images/svg/Banner-Clients-JourneyCurve-L1.svg);
									}
								}
							}
							&.imagery{
								background: $darker-blue;
								.ring{
									&:before{
										background-image: url(../assets/images/svg/Banner-Clients-JourneyCurve-L2.svg);
									}
								}
							}
						}
						.angle{
							&:before{
								z-index: 2;
							}
						}
						h1{
							color: $grey;
						}
						h2 {
							color: $grey;
						}

					}
				}
			}

			&.hero-team-logo{
 				position: relative;
				padding: 0;
				overflow: hidden;
				margin-top: 0px;
				z-index: 5;
				width: 100%;
				background: inherit;
				.container{
					max-width: 1170px;
					display: block;
					margin: 0 auto;

					.team-inner{
						// max-width: 100%;
						// display: inline-block;
						padding: 20px 20px 8px 20px;
						ul {
							li{
								a{
							// display: inline;
							// position: relative;
							// width:24.2%;
							@include transition(all 0.3s ease-out);
							background: $ebb;
							// margin-bottom: 12px;
							float: left;
							z-index: 1;
							overflow: hidden;
							outline: 0;
							@include breakpoint(phonePortrait){
								margin-bottom: 20px;
							}
							&:hover {
								background: rgba(0,0,0,0.4);
								>.topper {
									background: $ming;
									@include transition(all 0.3s ease-out);
									&:before{
										background: $ming;
										@include transition(all 0.3s ease-out);
									}
								}
							}
							& + a {
									margin-left: 1.0619469026548672%;
							}
							&:nth-child(4n+5){
								margin-left:0;
							}
							@include breakpoint(tabletPortrait) {
								// width: 49.21052631578947%;
								& + a {
									margin-left: 1.5789473684210527%;
								}
								&:nth-child(5n+6){
									margin-left: 1.5789473684210527%;
								}
								&:nth-child(2n+3){
									margin-left:0%;
								}
							}
							@include breakpoint(phonePortrait) {
								width:100%;
								height: auto;
								& + a {
									margin-left:0%!important;
								}
							}

							&:hover{
								figure{
									&:before{
										/*background: rgba(0,0,0,0.4);*/

									}
								}
							}
							&.inactive{
								&:hover{
									figure{
										&:before{
											/*border: 0px solid rgba(97, 99, 101, 0);*/
										}
									}
								}
							}
							.topper{
								background: $turquoise; 
								 @include transition(all 0.3s ease-out);
								&:before {
									content: "";
									position: absolute;
									width: 100%;
									height: 30%;
									background: $turquoise; 
									@include transition(all 0.3s ease-out);
									@include transform (translateY(25px) skewY(-4deg));
									z-index: -2;
									@include breakpoint(tabletPortrait){
										@include transform (translateY(20px) skewY(-4deg));
									}
								}
								h2 {
									color: $white;
									font-size: 17px;
									padding: 15px 0 15px 15px;
									top: 0;
									margin: 0;
								}
								p{
									color: $white;
									font-size: 15px;
									padding: 40px 0 5px 15px;
									line-height: 1.1em;
									font-weight: 300;
									@include breakpoint(phonePortrait){
										width: 80%;
									}
								}
								
							}
							figure{
								width: 100%;
								// height: 180px;
								position: relative;
								@include breakpoint(phonePortrait){
									// height: 170px;
								}
								&:before{
									content: "";
									position: absolute;
									width: 100%;
									height: 100%;
									@include transition(all 0.3s ease-out);
									
								}

								img{
						            max-width: 100%;
						            height: auto;
						            display: block;
						            position: relative;
						            right: -10%;
						            // top: 60px;
						            // @include transform (scale(1.8));
						            &:hover {
						            	/*background: rgba(0,0,0,1);*/
						            }
						            @include breakpoint(tabletPortrait){
						            	max-width: 100%;
						            	right: -10%;
						            	top: 0px;
						            	// @include transform (scale(1));
						            }
						            @include breakpoint(phonePortrait){
						            	/*top: -40px;*/
						            	right: -20%;
						            	// @include transform (scale(1));
			            }
								}
							}
						}
					}
				}
					}
				}

				a.pane-content{
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					padding: 0;
				}
				h2{
					position: absolute;
					top: 30%;
					padding-top: 106px;
					&:before{
						top: 28px;
						left: 49%;
					}
				}
			}
			&.copy-content{
				&:before{
					background: url(../assets/images/svg/Clients-Noimages-Body-JourneyCurve.svg) no-repeat 0 0;

					background-repeat: no-repeat;
					@include breakpoint(phonePortrait) {
						left: -140px;
						top: -40px;
						width: 210%;
					}
				}

				.copy-wrap{
					&:nth-child(odd) {
						background: $pampas;
					}
					&:first-child{
						.copy{
							padding-top: 50px;
						}
					}
					.copy{
						width: 100%;
						min-height: 400px;
						margin: 0 auto;

						@include breakpoint(tabletPortrait) {
							min-height: inherit;
						}
						position: relative;
						overflow: hidden;
					}
				}
			}

		}
	}

.titles{
	@include breakpoint(phonePortrait){
	// margin-top: 10px;
	}
	// &:before, &:after {
	// display: none;
	// }
}

.modal {
	a.close-menu:after{
	right: -580px;
	top: -180px;
	position: absolute;
	content: "\e082";
	color: rgba(255, 255, 255, 1);
	font-family: 'Simple-Line-Icons';
	speak: none;
	font-style: normal;
	font-weight: 300;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 3.5em;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	z-index: 2;
	@include breakpoint(tabletPortrait){
		// display: none;
		right: -90%;
		top: 5px;
		position: relative;
	}
	@include breakpoint(phonePortrait){
		right: -80%;
	}
		}
	}
	.modal-content {
		
		.modal-header {
			background: $rodeo-dust;
			padding: 0;
			overflow: hidden;
			border-bottom: none;
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 23%;
				background: $turquoise;
				@include transform (translateY(-35px) skewY(-4deg));
				@include breakpoint(tabletLandscape){
					// height: 22%;
					display: none;
				}
			}
			.modal-image {
				height: auto;
				width: 100%;
				position: relative;
				// top: 50px;
				@include breakpoint(phonePortrait){

					// @include transform (scale(1.2));
				}
			}

		}
		.modal-body{
			background: $turquoise;
			h2{
				color: $white;
				font-size: 28px;
				font-weight: 400;
				padding: 0 20px;
				@include breakpoint(phonePortrait){
					font-size: 22px;
				}
			}
			p{
				color:$white;
				font-size: 17px;
				padding: 0 20px;
			}
		}
		.modal-footer {
			border-top: none;
			background: $white;

			p{
				color: $grey;
				text-align: left;
				padding: 50px 20px 0 20px;
			}
		}

	}

}