// Colour Helper Classes




// Background Helper Classes

.bgc-dar-grey {
    background-color: $dark-grey;
}

.bgc-grey {
    background-color: $grey;
}

.bgc-offwhite {
    background-color: $offwhite;
}

.bgc-rodeo-dust {
    background-color: $rodeo-dust;
}

.bgc-rodeo-dust-light {
    background-color: $rodeo-dust-light;
}

.bgc-rodeo-dust-lighter {
    background-color: $rodeo-dust-lighter;
}

.bgc-lighter-grey {
    background-color: $lighter-grey;
}

.bgc-dark-blue {
    background-color: $dark-blue;
}

.bgc-darker-blue {
        background-color:$darker-blue;
}

.bgc-orange {
    background-color:$orange;
}

.bgc-light-blue {
    background-color:$light-blue;
}

.bgc-blue {
    background-color: $blue;
}

.bgc-lighter-blue {
    background-color: $lighter-blue;
}

.bgc-yellow {
    background-color:$yellow;
}

.bgc-red {
    background-color: $red;
}

.bgc-black {
    background-color: $black;
}

.bgc-turquoise {
    background-color: $turquoise;
}
