// Content Filter such as the one used in Resources


// The wrapper around the entire filter bar
.content-filter {
    margin: 50px 0;
}


// Toggle button to show or hide the filter
.filter-toggle {

    color: $white;
    background-color: $turquoise;
    padding: 20px;
    margin: 10px 0;

    @include breakpoint(bigDesktop) {
        display: none;
    }

    @include breakpoint(phonePortrait) {
        display: block;
    }
}

// Wrapper around the filter tabs AND tab contents
.filter-tab-panel {

    @include breakpoint(phonePortrait) {
       background-color: $rodeo-dust-light;
    }

}


// Wrapper around the tabs only
.filter-tabs {

}


.filter-tab {
    background-color: $rodeo-dust-lighter;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}

// Wrapper for the tab content
.tab-content {
    padding: 20px;
    margin-bottom: 25px;
}


// The tag items in the tab content area
.filter-tags {
    .label {
        display: inline-block;
        padding: 5px 20px;
        color: $dark-grey;
        background-color: $white;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 5px 7px 0;
        cursor: pointer;

        &.selected {
            color: $white;
            background-color: $turquoise;
        }
    }
}


// Wrapper around the selected tags area
.selected-filter-tag-bar {

}


.tag-bar-header {
    @include clearfix();
    margin-bottom: 20px;
}

.selected-tags-label {
    margin-right: 10px;
}


// The UL containing the list of selected tags
.selected-filter-tags {
    display: inline-block;

    .label {
        color: $dark-grey;
        background-color: $rodeo-dust-light;
        cursor: pointer;
        text-transform: uppercase;

        .tag-name {
            margin-right: 10px;
        }

        &:after {
            content: '\2716';
        }
    }
}





// The search terms that make up the filter
// .filter-terms {

// }