// Resource Download Items

.resource-download-items {
    @include clearfix();
}


.resource-download-item {
    position: relative;
    float: left;
    margin-bottom: 30px;
    color: $white;

    @include breakpoint(bigDesktop) {
        width: 33.333%;
    }

    @include breakpoint(tabletPortrait) {
        width: 50%;
    }

    @include breakpoint(phonePortrait) {
        width: 100%;
    }

}

.resource-download-item__header {
    padding: 20px;
}

.resource-download-item__content {
    background-color: rgba(255,255,255, .5);

    .entry-item__text {
        padding: 20px;
        line-height: 1.5;
    }
}

.resource-download-item__meta-data {
    padding: 20px;
}

.resource-download-item__footer {
    padding: 20px;
}

.resource-download-item__button {

}

.resource-download-item__share-link {

}