.breadcrumb{
	position: absolute;
	z-index: 3;
	top:0;
	background:#f5f3f1;
	width: 100%;
	top: 0px;
	@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-5deg) skewX(0deg));
	.crumbs {
		padding: 1em;
		li {
			display: inline-block;
			a{
				text-transform: uppercase;
				font-size: 16px;
				color: $grey;
				@include transition((all 0.3s ease-out));
				&:hover{
					color:$black;
				}
			}
			&:after {
				content: '/';
				padding: 0 0.25em 0 0.5em;
				color: $grey;
			}
			&:last-child:before,
			&:last-child:after {
				content: '';
			}
			&:last-child{
				a{
					color: $light-grey;
				}
			}
		}
		@include breakpoint(tabletPortrait){	
			li {
					display: none;
				&:last-child {

					display: inline-block;
					&:before {
						padding-right: 10px;
						content: '←';
						color: $grey;
					}
				}
	 
			}
		}
	}
}