.contact-container{
	@include transition((all 0.3s ease-out));
	background: $grey;

	@include breakpoint(phonePortrait) {
		padding: 0 12px;
	}
 
	.close-form{
		position: absolute;
		top:173px;
		right:2%;
    padding: 26px 80px 0px 0;
    float: left;
    color:rgba(255,255,255,0.70);
    text-transform: uppercase;
    font-size: 22px;
    @include transition((all 0.3s ease-out));
    z-index: 1;
    opacity:0;
    &.on{
    	opacity: 1;
    }
		@include breakpoint(tabletPortrait) {
	    top:0;
	    right: 0;
	    padding:0;
	    span{
	      color:rgba(255,255,255,0.70);
	      font-size: 16px;
	      text-indent: -999em;
	      display: block;
	    }
	    &:after{
	      right: 20px;
	      font-size: 1.5em;
	    }
	  }
	}

	h2.animated{
		margin-top: 54px;
		padding: 98px 0 18px 0;
		cursor: pointer;
		font-size: 26px;
		@include breakpoint(tabletPortrait) {
			margin-top: 34px;
			padding: 78px 0 18px 0;
		}
		@include breakpoint(phonePortrait) {
			padding: 78px 0 30px 0;
		}
		@include transition((all 0.3s ease-out));
		
		&:hover{
			@include transition((all 0.3s ease-out));
		} 
   	&:focus .circle[data-anim~=bigger],
		&:hover .circle[data-anim~=bigger]{
	    opacity: 0.75;
	  }
	  &:focus .circle[data-anim~=bigger]:before,
	  &:hover .circle[data-anim~=bigger]:before{
	    @include transform (rotate(180deg));
	  }
	  &:focus .circle[data-anim~=smaller],
	  &:hover .circle[data-anim~=smaller]{
	    opacity: 1;
	  }
	  &:focus .circle[data-anim~=smaller]:before,
	  &:hover .circle[data-anim~=smaller]:before{
	    @include transform (rotate(180deg));
	  }
	}

	&.toggled{
		h2.animated{
			&:after{
	      top: 22px;
	      left: 50%;
	      margin-left: -10px;
	      position: absolute;
	      opacity: 0;
	      background: url(../assets/images/arrow.png) no-repeat 0 0;
	      width: 20px;
	      height: 40px;
	      content: "";
	      @include transform(rotate(-90deg));
	      @include transition((all 0.3s ease-out));
	    }
	    &:focus:after,
	    &:hover:after{
	    	top: 12px;
	    }
	  }
 	}

	

	form.form{
		display: none;
		width:100%;
		margin:0 auto 50px auto;
		padding: 0;
		background: $grey;
		 

		&.hidden{
			display: none;
		}

		p{
			width:100%;
	    text-align: center;
	    display: block;
	    padding:0 0 70px 0;
	    margin: auto;
	    font-size: 24px;
	    font-family: $font-ICLPlight;
			font-weight:300;
	    @include breakpoint(tabletPortrait) {
	    	width: 70%;
	    	font-size: 22px;
	    }
	    @include breakpoint(tabletPortrait) {
	    	display: none;
	    }
	  }

		.fieldset-container{
			display: table;
			max-width:814px;
			margin: 0 auto;
			@include breakpoint(tabletPortrait) {
				max-width:700px;
			}

			.fieldset-wrap{
				width: 50%;
				display:table-cell;
				vertical-align: top;
				
				&:first-child{
					padding-right: 33px;
				}

				fieldset{	
					>div{
						width: 100%;
						display: inline-block;
						position:relative;
						border-bottom:3px solid $white;
						margin-bottom: 20px;

						label{
							position: absolute;
							top: 12px;
							left: 10px;
						}
						input{
							padding-left: 40px;
						}
						textarea{
							padding-left: 40px;
							padding-top: 10px;
						}
						select{
							background: none;
							color:$white;
					    font-weight: 100;
					    font-family: $font-family;
					    font-size:16px;
							border: 0;
							@include border-radius(0);
							position: relative;
							margin-left: 40px;
							width: 89%;
					    height:46px;
					    -webkit-appearance: none;
					    -webkit-font-smoothing: antialiased;
							option{
								background: $white;
								color: $black;
								font-weight: 100;
						    font-family: $font-family;
						    font-size:16px;
						    -webkit-font-smoothing: antialiased;
								font-size: 14px;
								padding: 10px 0;
							}
						}
						&.country{
							background-color:rgba(255,255,255,0.02);
							width: 100%;
					    height:46px;
						}

						&.buttons{
							border-bottom: 0;
							margin:12px 0;
							.button{
								float: right;
							}
						}
						&.checkboxes{
							border: 0;
							margin: 0px 0 12px 0;
							padding:0px;
							display: inline-block;
							label{
								font-size: 12px;
								position: relative;
								top:0;
								left:0;
								padding: 2px 0 2px 0;
								float: left;
								color:$white;
								display: inline-block;
								line-height: 1.1em;
								&:before{
									display: none;
								}
								input[type=checkbox]{
									float: left;
									height: auto;
									margin: 4px 10px 0px 0;
									padding: 0;
								}
							}
						}
					}
				}
			}

		}

		@include breakpoint(phonePortrait) {
	    .fieldset-container{
	      display: inline-block;
	      width: 100%;
	      margin: 0 auto;
	      .fieldset-wrap{
	        width: 100%;
	        display: inline-block;
	        &:first-child {
	          padding-right: 0px;
	        }
	        fieldset{
	          width: 100%;
	          div{
	          	border-bottom:1px solid $white;
	            width: 100%;
	            margin-bottom: 10px;
	            width: 100%;
	            display: inline-block;
	            position:relative;
	            label{
	              position: absolute;
	              top: 7px;
	              &.search{
	                right: 30px;
	              }
	            }
	            input{
	              font-size: 16px;
	              height: 32px;
	            }
	            textarea{
	               
	            }
	            &.buttons{
	              border-bottom:0;
	              .button{
									min-width: 200px;
									padding: 10px 16px;
									margin-top: 20px;
	              }
	            }
	            &.checkboxes{
	              border: 0;
	              margin-bottom: 0px;
	              label{
	                font-size: 12px;
	              }
	            }
	          }
	        }
	      }
	    }
				
		}
	}
}

#contact-us #contact-form{
	.close-form{
		display: none;
	}
}
#home #contact-form{
	.close-form{
		display: none;
	}

	h2.contact{
		&:after{
      top: 22px;
      left: 50%;
      margin-left: -10px;
      @include transform(rotate(-90deg));
    }
    &:hover:before{
      opacity: 0;
    }
    &:hover:after{
      opacity: 1;
      top: 12px;
    }
  }

	.toggled{
		h2.contact{
			&:after{
	      top: 12px;
	      left: 50%;
	      margin-left: -13px;
	      @include transform(rotate(90deg));
	    }
	    &:hover:after{
	    	top: 22px;
	    }
	  }

 	}



}