.contact-container{
	@include breakpoint(phonePortrait) {
		padding: 0 12px;
	}

	.close-form{
		position: absolute;
		top:173px;
		right:2%;
    padding: 26px 80px 0px 0;
    float: left;
    color:rgba(255,255,255,0.70);
    text-transform: uppercase;
    font-size: 22px;
    @include transition((all 0.3s ease-out));
    z-index: 1;
    opacity:0;
    &.on{
    	opacity: 1;
    }
		@include breakpoint(tabletPortrait) {
	    top:0;
	    right: 0;
	    padding:0;
	    span{
	      color:rgba(255,255,255,0.70);
	      font-size: 16px;
	      text-indent: -999em;
	      display: block;
	    }
	    &:after{
	      right: 20px;
	      font-size: 1.5em;
	    }
	  }
	}

	h2.animated{
		margin-top: 40px;
		padding: 98px 0 32px 0;
		@include breakpoint(phonePortrait) {
			padding: 68px 0 32px 0;
		}
	}

form.form{
	display: none;
	width:100%;
	margin: 0 auto;
	padding: 0;
	@include breakpoint(phonePortrait) {
	}

	&.hidden{
		display: none;
	}

	p{
		width:100%;
    text-align: center;
    display: block;
    font-size: 19px;
    padding:0 0 70px 0;
  }

	.fieldset-container{
		display: table;
		max-width:814px;
		margin: 0 auto;
		.fieldset-wrap{
			width: 50%;
			display:table-cell;
			vertical-align: top;
			
			&:first-child{
				padding-right: 33px;
			}

			fieldset{	
				div{
					width: 100%;
					display: inline-block;
					position:relative;
					border-bottom:3px solid $white;
					margin-bottom: 20px;

					label{
						position: absolute;
						top: 12px;
						left: 10px;
					}
					input{
						padding-left: 40px;
					}
					textarea{
						padding-left: 40px;
						padding-top: 10px;
					}

					&.buttons{
						border-bottom: 0;
						.button{
							float: right;
						}
					}
					&.checkboxes{
						border: 0;
						margin-bottom: 12px;
						label{
							padding-left: 12px;
							color:$white;
						}
						input[type=checkbox]{
							height: auto;
							margin: 7px 0 0px 0;
						}
					}
				}
			}
		}

	}
	@include breakpoint(phonePortrait) {
    .fieldset-container{
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      .fieldset-wrap{
        width: 100%;
        display: inline-block;
        &:first-child {
          padding-right: 0px;
        }
        fieldset{
          width: 100%;
          div{
          	border-bottom:1px solid $white;
            width: 100%;
            margin-bottom: 10px;
            width: 100%;
            display: inline-block;
            position:relative;
            label{
              position: absolute;
              top: 7px;
              &.search{
                right: 30px;
              }
            }
            input{
              font-size: 16px;
              height: 32px;
            }
            textarea{
               
            }
            &.buttons{
              border-bottom:0;
              .button{
								min-width: 200px;
								padding: 10px 16px;
								margin-top: 20px;
              }
            }
            &.checkboxes{
              border: 0;
              margin-bottom: 0px;
              label{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
			
	}
}
 

}