body{

  header.header{
  	width: 100%;
  	margin: 0 auto;
  	position:fixed;
    top: 0;
    right: 0;
  	z-index:10;
    @include transition((all 0.3s ease-out));

    #sidebar-toggle{
      left:0;
      width: 40px;
      top:0;
      position:absolute;
      z-index: 12;
      cursor:pointer;
      display:block;
      @include transition((all 0.3s ease-out));
      @include transform (translateX(24px) translateY(24px) translateZ(0px) rotate(0deg));

      @include breakpoint(tabletPortrait) {
        width: 40px;
        @include transform (translateX(12px) translateY(12px) translateZ(0px) rotate(0deg));
      }

      > div{
        width: 100%;
        padding:0px;
        float: left;
        position:relative;
        @include transition((all 0.3s ease-out));

        span.bar{
          display: inline-block;
          @include roundcorners(3px);
          // @include box-shadow(0 2px 1px rgba(0,0,0,0.90) inset);
          margin-bottom: 7px;
          float: left;
          height: 3px;
          width: 100%;
          background-color:#929288;
          @include transition((all 0.3s ease-out));

          @include breakpoint(tabletPortrait) {
            margin-bottom: 6px;
          }
        }
      }
      &.active{
       .browse{
        opacity: 1;
       }
      }
    }

  	.outer{
      background: #fff;
  		margin:0 auto;
  		width: 100%;
      position: relative;
      z-index: 1;
      height:75px;
      &:before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
      }

      &:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        background: $rodeo-dust;
        bottom: 0;
        z-index: 1;
      }
      @include breakpoint(tabletPortrait) {
       height: 48px;
      }
  		.wrap{
  			position:relative;
  			@include transition((all 0.3s ease-out));

  			.logo-container{
  				display:block;
  				position: relative;
          width: 186px;
  				margin:0px auto 0 auto;
          @include breakpoint(tabletPortrait) {
            width: 146px;
          }
  				h1{
  					display:block;
            position: relative;
            width: 100%;
            padding-top: 9px;
            @include breakpoint(tabletPortrait) {
              padding: 0;
            }
  					a{
  						margin:auto;
  						display:block;
  						width:100%;
              position: absolute;
              top:0;
              left:0;
              height: 100%;
              z-index: 4;

                @include breakpoint(tabletPortrait) {
                  padding-top: 0px;
                }
              }
						embed{
              height: 50px;
              @include breakpoint(tabletPortrait) {
                height: 44px;
                @include transform (scale(0.9));
              }
						}
  				}
  			}
        .cta{
          position: absolute;
          right:20px;
          top:13px;
          @include breakpoint(tabletPortrait) {
            right:20px;
            top:1px;
          }
          li{
            display: inline-block;
            padding: 0 16px;
            @include breakpoint(tabletPortrait) {
              padding: 0 14px;
            }
            &:first-child{
              padding-left: 0;
            }
            &:last-child{
              padding-right: 0;
            }
            a{
              position: relative;
              float: left;
              @include transition((all 0.3s ease-out));
              width:24px;
              @include breakpoint(tabletPortrait) {
                width: 16px;
              }
              span{
                position: absolute;
                text-indent: -999em;
              }
              &:before{
                @include iconsFonts;
                font-size: 1.8em;
                top: 0px;
                left:0px;
                position:absolute;
                content: "";
                @include transition((all 0.3s ease-out));
                color:$dark-grey;

                @include breakpoint(tabletPortrait) {
                  font-size: 1.4em;
                  color:$grey;
                }
              }
              &:hover:before{
                color:$grey;
              }
              &.selected{
                &:after{
                  background: #cdc3bb;
                  content: "";
                  position: absolute;
                  top: -6px;
                  z-index: -1;
                  height: 53px;
                  width: 40px;
                  left: -6px;

                }
                &:before{
                  color:$white;
                }

                &:hover:before{
                  color:$white;
                  @include breakpoint(phonePortrait) {
                    color:$grey;
                  }
                }
              }




              &.Contact-form{
                &:before{
                  // @include transform (rotate(-90deg));
                  content: "\e086";
                }
                &.selected{
                  &:after{
                    @include breakpoint(phonePortrait) {
                      display: none;
                    }
                  }
                  &:before{
                    @include breakpoint(phonePortrait) {
                      color:$grey;
                    }
                  }
                  &:hover:before{
                  @include breakpoint(phonePortrait) {
                      color:$grey;
                    }
                  }
                }
              }
              &.Languages{
                &:before{
                  content: "\e036";
                }
              }
              &.Search{
                &:before{
                  content: "\e090";
                }
              }
            }
          }
        }
  		}
  	}
.Contact-div,.Languages-div,.Search-div{
  background: $rodeo-dust;
  width: 320px;
  position: absolute;
  top:0px;
  right: 0;
  padding:12px 20px 12px 20px;
  opacity: 0;
  @include transition((all 0.3s ease-out));
  z-index: -1;
  display: none;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 76px;
    bottom: -54px;
    left:0;
    @include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
    background: $rodeo-dust;
    z-index: 0;
    @include transition(all 0.9s ease-out);
    opacity: 1;
  }

  &.open{
    z-index:4;
    display: block;
    opacity: 1;
    top: 75px;
    @include breakpoint(tabletPortrait) {
      top: 50px;
    }
  }

  .header-close{
    position: absolute;
    top:0;
    right: 0;
    padding:0;
    float: left;
    text-transform: uppercase;
    @include transition((all 0.3s ease-out));
    z-index: 1;
    span{
      color:rgba(255,255,255,0.70);
      font-size: 16px;
      text-indent: -999em;
      display: block;
    }
    &:after{
      right: 20px;
      font-size: 21px;
    }
  }

  .contact-container,.search-container,.languages-container{
     min-height: 200px;
      h2{
        margin-top:0;
        font-size: 22px;
        padding:0 0 18px 0;
        text-align: left;
        &:after,
        &:before{
          display: none;
        }

        .wrapper-circle{
          display: none;
        }
      }
      p{
        padding-right: 70px;
        font-size: 16px;
        text-align: left;
        padding-bottom: 12px;
        position: relative;
        @include breakpoint(tabletPortrait) {
          width: 100%;
        }
      }

      form.form{
        padding: 0;
        display: block;
        .fieldset-container{
          display: inline-block;
          width: 100%;
          margin: 0 auto;
          .fieldset-wrap{
            width: 100%;
            display: inline-block;
            &:first-child {
              padding-right: 0px;
            }
            fieldset{
              width: 100%;
              >div{
                width: 100%;
                border-bottom: 1px solid #fff;
                margin-bottom: 10px;
                width: 100%;
                display: inline-block;
                position:relative;
                background-color: $white;
                label{
                  position: absolute;
                  top: 7px;
                }
                input{
                  font-size: 16px;
                  height: 32px;
                  &.search{
                    cursor: pointer;
                    width:24px;
                    height: 22px;
                    font-size: 0;
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    background: none;
                    -webkit-appearance: button;
                    @include transition((all 0.3s ease-out));
                    color:$dark-grey;
                    background-image: url(../assets/images/search.png);
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    opacity: 0.90;
                    &:hover{
                      opacity: 1;
                    }
                  }
                }
                textarea{
                  height: 80px;
                }
                select{
                  width: 89%;
                  height:32px;
                }
                &.country{
                  height:32px;
                }
                &.buttons{
                  border-bottom:0;
                  .button{
                    float: left;
                    min-width: 280px;
                    padding: 4px 16px;
                  }
                }
                &.checkboxes{
                  border: 0;
                  margin: 0px 0 12px 0;
                  padding:0px;
                  display: inline-block;
                  label{
                    font-size: 12px;
                    position: relative;
                    top:0;
                    left:0;
                    padding: 2px 0 2px 0;
                    float: left;
                    color:$white;
                    display: inline-block;
                    line-height: 1.1em;
                    &:before{
                      display: none;
                    }
                    input[type=checkbox]{
                      float: left;
                      height: auto;
                      margin: 4px 10px 23px 0;
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
      ul{
        margin: 12px 0 0 0;
        &.languages{
          li{
            a{
              color: $white;
            }
          }
        }
      }
    }
  }





  }
  &.open-sidebar{
    header.header{
      width:calc(100% - (320px));
      @include breakpoint(tabletPortrait) {
        @include transform (translate3d(320px, 0, 0));
        width: 100%;
      }

      #sidebar-toggle{
        @include transform (translateX(10px) translateY(18px) translateZ(0px) rotate(-90deg));
        @include breakpoint(phoneLandscape) {
          @include transform (translateX(10px) translateY(8px) translateZ(0px) rotate(-90deg));
        }
      }
    }
  }
}


body header.header .Contact-div.open {
  @include breakpoint(phonePortrait) {
    display: none;
  }
}
