#home{

	.interactive-container{
		width: 100%;
		overflow: hidden;
    position: relative;
	}
	.angle-container{
		width: 100%;
    color: #fff;
    position: relative;
    text-align: center;
    @include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-4deg) skewX(0deg));
    background:$white;
    z-index: 4;
    margin: -90px 0 -80px 0;
    @include breakpoint(tabletPortrait) {
    	margin: -36px 0 -80px 0;
    }
 
    .copy{
    	width:100%;
    	display: block;
    	margin: auto;
    	z-index: 2;
    	padding: 38px 0;
		  @include breakpoint(phonePortrait) {
  	    @include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(5deg) skewX(0deg));
 	    }
	  
    	h1{
    		color: $grey;
    		font-weight: 400;
    		br{
    			display: none;
    			@include breakpoint(phonePortrait) {
    				display: block;
    			}
    		}
    		@include breakpoint(phonePortrait) {
					font-size: 25px;
        }
    	}
    	h2{
    		padding: 0px 5%;
    		text-transform: inherit;
        color: $grey;
        max-width:1170px;
        text-align: center;
        display: block;
        margin: auto;
        font-weight: 300;
        @include breakpoint(phonePortrait) {
					font-size: 20px; 
        }        
    	}
    } 
	}

	.banner-container{
		
		.content{
			margin-top: -30px;
			display: table;
			width: 100%;
			@include banner;
			@include breakpoint(tabletPortrait) {
				margin-top: 0px;
			}
			@include breakpoint(phonePortrait) {
				margin-top: 30px;
				display: inline-block;
			}
		} 
	}

	.pane-container{
		display: table;
		width: 100%;
		
		@include breakpoint(tabletPortrait) {
			display: inline-block;
			position: relative;
			width:100%;
			height: 415px;
		}

		article{
			position: relative;
			background:$turquoise;
			display: table-cell;
			vertical-align: top;
			padding: 0;
			height: 415px;
			@include breakpoint(tabletPortrait) {
				display: inline-block;
				width:100%;
				height: 415px;
			}
			&.pane {
				width:33%;
				@include breakpoint(tabletPortrait) {
					position: absolute;
					height: 415px;
					width: 50%;
					padding: 0;
					
					&:first-child{
						right:0;
						top:0;
						position: absolute;
						width:50%;
						height: 207.5px;
						padding: 0;
						margin-top: 0px;
						background-color: #007fa4;
					}
					&:last-child{
						right:0;
						top:207.5px;
						padding: 0;
						position: absolute;
						width:50%;
						height: 207.5px;
						background-color: $turquoise;
					}
				}
				.carousel-container{
					background: $orange;
					position: absolute;
					top: -90px;
					width: 100%;
					padding: 0% 0;
					z-index: 1;
					@include transition((all 0.3s ease-out));
					&:hover{
						background:#c06612;
					} 
  
					@include breakpoint(tabletPortrait) {
						top: 0px;
						height: 100%;
					}
					.copy{
						padding: 30px 0 66px 0;
						display: block;
						margin: 0 auto;
						max-width: 270px;
						position: relative;

						@include breakpoint(phonePortrait) {
							display: none;
						}

						@include breakpoint(tabletPortrait) {
							padding: 20px 0 0px 0;
						}

						h1{
							text-transform: uppercase;
							width: 100%;
							text-align: center;
							display: inline-block;
							padding: 0px 0 12px 0;
							a{
								line-height: 1.3em;
								color: $white;
								&:hover{
									color: $white;
								}
							}
						}
						p{
							width: 100%;
							text-align: center;
							padding: 0 0 12px 0;
							position: absolute;
							z-index: 1;
							color: $white;
							@include breakpoint(phonePortrait) {
								padding: 0 8px 12px 8px;
							}
						}
					}
					.mobile{
						display: none;
						@include breakpoint(phonePortrait) {
							display: block;
							position: relative;
							padding-top: 124px;
							.animated.ourservices{
								padding: 78px 12px 0 12px;
								@include breakpoint(tabletPortrait) {
								 font-size: 17px;
								}
							}
						}
					}
					.carousel{
						height: 210px;
						display: inline-block;
						width: 100%;
						margin-bottom: 85px;
						@include breakpoint(phonePortrait) {
							display: none;
						}
						.carousel-inner{
							padding: 0;
							height: 100%;
							.item{
								padding:0;
								height: 100%;
								.carousel-caption{
									padding: 12% 0 0 0;
									@include breakpoint(tabletPortrait) {
										padding-top: 4%;
									}
									a{
										display: inline-block;
										width: 100%;
										h2{
											margin-top:0;
											font-size: 17px;
											@include breakpoint(tabletPortrait) {
											 font-size: 17px;
											}
										}
								    &:focus .circle[data-anim~=bigger],
								    &:hover .circle[data-anim~=bigger]{
								      opacity: 0.75;
								    }
								    &:focus .circle[data-anim~=bigger]:before,
								    &:hover .circle[data-anim~=bigger]:before{
								      @include transform (rotate(180deg));
								    }
								    &:focus .circle[data-anim~=smaller],
								    &:hover .circle[data-anim~=smaller]{
								      opacity: 1;
								    }
								    &:focus .circle[data-anim~=smaller]:before,
								    &:hover .circle[data-anim~=smaller]:before{
								      @include transform (rotate(180deg));
								    }
									}
								}
							}
						}
						@include breakpoint(tabletPortrait) {
							padding: 96px 0 0 0;
							height: 82.9%;
						}
						@include breakpoint(phonePortrait) {
							padding: 133px 0 0 0;
							height: 72.9%;
						}
						.carousel-control{
							z-index: 1;
						}
					}
				} 
				a.pane-content{
					position: absolute;
					top: 0;
					height: 415px;
					width: 100%;
					padding:0;
					@include transition((all 0.3s ease-out));
					@include breakpoint(tabletPortrait) {
						padding: 0;
						height:208px;
					}
					h2{
						top: 50%;
  					@include transform(translateY(-50%));
						margin: 0;
						font-size: 28px;
						pointer-events: none;
						@include breakpoint(phonePortrait) {
						 font-size: 17px;
						}
					}
					p{
						width: 70%;
						text-align: center;
						display: block;
						margin: auto;
					}
					img{
						position: absolute;
						top:0;
						left:0;
						width: auto;
						height:100%;
					}

					span.image:hover:before{
						content: "";
						background: rgba(0,0,0,0.8);
					}

					span.image:before {
						content:"";
						  position: absolute;
						  height: 100%;
						  width: 100%;
						  top: 0;
						  left: 0;
						  z-index: 1;
						@include transition((all 0.3s ease-out));
						background: rgba(0,0,0,0.4);
						}

					
					&:hover{
						background:rgba(0,0,0,0.4);
						@include transition((all 0.3s ease-out));
					} 
			    &:focus .circle[data-anim~=bigger],
			    &:hover .circle[data-anim~=bigger]{
			      opacity: 0.75;
			    }
			    &:focus .circle[data-anim~=bigger]:before,
			    &:hover .circle[data-anim~=bigger]:before{
			      @include transform (rotate(180deg));
			    }
			    &:focus .circle[data-anim~=smaller],
			    &:hover .circle[data-anim~=smaller]{
			      opacity: 1;
			    }
			    &:focus .circle[data-anim~=smaller]:before,
			    &:hover .circle[data-anim~=smaller]:before{
			      @include transform (rotate(180deg));
			    }
				} 
			}
		}
	}

	.social-container{
		background: $white;
		.twitter{
			position: relative;
			padding:0 0 15px 0;
		}
	}

	&.open-sidebar{
		.angle-container{
			margin-top: -110px;
		}
	}





}