#home{

	.interactive-container{
		width: 100%;
		background-color:$turquoise;
		overflow: hidden;
    color: #fff;
    position: relative;
    &:before{
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	top:0;
    	left:0;
			@include background-image(radial-gradient(left, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%));

    }
	}
	.angle-container{
		width: 100%;
    color: #fff;
    position: relative;
    text-align: center;
    @include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-5deg) skewX(0deg));
    background:$white;
    z-index: 4;
    margin: -80px 0 -80px 0;
 
    .copy{
    	width:100%;
    	display: block;
    	margin: auto;
    	z-index: 2;
    	padding: 40px 0;
		  @include breakpoint(tabletPortrait) {
  	    @include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(5deg) skewX(0deg));
 	    }
	  
    	h1{
    		color: $darker-blue;
    		br{
    			display: none;
    			@include breakpoint(phonePortrait) {
    				display: block;
    			}
    		}
    		@include breakpoint(phonePortrait) {
					font-size: 25px;
        }
    	}
    	h2{
    		padding: 0px 5%;
    		font-size: 22px;
    		text-transform: uppercase;
        color: $darker-blue;
        max-width:1170px;
        text-align: center;
        display: block;
        margin: auto;
        @include breakpoint(phonePortrait) {
					font-size: 20px;
					font-family: $font-ICLPlight;
        }        
    	}
    } 
	}

	.banner-container{
		
		.content{
			margin-top: -30px;
			display: table;
			width: 100%;
			@include banner;
			@include breakpoint(phonePortrait) {
				display: inline-block;
			}
		} 
	}

	.pane-container{
		display: table;
		width: 100%;
		
		@include breakpoint(tabletPortrait) {
			display: inline-block;
			position: relative;
			width:100%;
			height: 415px;
		}

		article{
			position: relative;
			background:$blue;
			display: table-cell;
			vertical-align: top;
			padding: 0;
			height: 415px;
			@include breakpoint(tabletPortrait) {
				display: inline-block;
				width:100%;
				height: 415px;
			}
			&.pane{
				width:33%;
				@include breakpoint(tabletPortrait) {
					position: absolute;
					height: 415px;
					width: 50%;
					padding: 0;
					
					&:first-child{
						right:0;
						top:0;
						position: absolute;
						width:50%;
						height: 207.5px;
						padding: 0;
						margin-top: 0px;
						background-color: #007fa4;
					}
					&:last-child{
						right:0;
						top:207.5px;
						padding: 0;
						position: absolute;
						width:50%;
						height: 207.5px;
						background-color: #204488;
					}
				}
				.carousel-container{
					background: $orange;
					position: absolute;
					top: -39px;
					height: 100%;
					width: 100%;
					padding: 0% 0;
					z-index: 1;
					@include breakpoint(tabletPortrait) {
						top: 0px;
						height: 100%;
					}
					.copy{
						padding: 44px 0 12px 0;
						display: block;
						margin: 0 auto;
						max-width: 270px;

						@include breakpoint(tabletPortrait) {
							padding: 20px 0 0px 0;
						}
						h1{
							text-transform: uppercase;
							width: 100%;
							text-align: center;
							display: inline-block;
							padding: 0px 0 12px 0;
						}
						p{
							width: 100%;
							text-align: center;
							display: inline-block;
							padding: 0 0 12px 0;
							 
						}
					}
					.carousel{
						height: 74%;
						display: inline-block;
						width: 100%;
						background: #f08017;
						.carousel-inner{
							padding: 0;
							height: 100%;
							.item{
								padding:0;
								height: 100%;
								.carousel-caption{
									padding: 21% 0 0 0;
									h2{
										margin-top:0;
									}
								}
							}
						}
						@include breakpoint(tabletPortrait) {
							padding: 0;
							height: 52.6%;
						}
					}
				} 
				a.pane-content{
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					padding: 26% 0;
					@include breakpoint(tabletPortrait) {
						padding: 0;
					}
					
					&:hover{
						background:rgba(0,0,0,0.20);
						@include transition((all 0.3s ease-out));
					}
					&:hover .circle[data-anim~=bigger]{
			      opacity: 0.75;
			    }
			    &:hover .circle[data-anim~=bigger]:before{
			      @include transform (rotate(180deg));
			    }
			    &:hover .circle[data-anim~=smaller]{
			      opacity: 1;
			    }
			    &:hover .circle[data-anim~=smaller]:before{
			      @include transform (rotate(180deg));
			    }
				} 
			}
		}
	}

	.social-container{
		background: $white;
		.twitter{
			position: relative;
			padding: 3.8% 0;
		 
		}
	}





}