label{
	position: relative;
	&:before{
    @include iconsFonts;
    top: 0%;
    left: 0%;
    position:absolute;
    content: "";
    @include transition((all 0.3s ease-out));
    color:$white;
    font-size: 1.3em;
  }
	&.email{
		&:before{
			content: "\e086";
		}
	}
	&.name{
		&:before{
			content: "\e005";
		}
	}
	&.telephone{
		&:before{
			@include transform (rotate(-90deg));
			content: "\e048";
		}
	}
	&.company{
		&:before{
			content: "\e04b";
		}
	}
	&.country{
		&:before{
			content: "\e037";
		}
	}
  &.message{
    &:before{
      content: "\e060";
    }
  }
	&.search{
		&:before{
			content: "\e090";
		}
	}
}
.socials{

	ul{
		li{
			float: left;
			display: inline;
			& + li {
				padding-left: 40px;
			}

			a{
				position: relative;
				padding:10% 0;
				display: block;
				
				&:before{
			    @include iconsFonts;
			    top: 0%;
			    left: 0%;
			    position:absolute;
			    content: "";
			    @include transition((all 0.3s ease-out));
			    color:$white;
			    font-size: 1.3em;
			  }
			  &.linkedin{
			  	&:before{
						background: url(../assets/images/linkedin.png) no-repeat 0 0;
						width:24px;
						height:24px;
			  	}
			  }
		  	&.twitter{
		  		&:before{
		  			content: "\e009";
		  		}
		  	}
			}
		}
	}
}
a.header-close,
a.close-menu,
a.close-form{
	&:after{
    top:12px;
    right: 10px;
    position: absolute;
    content: "\e082";
    color:rgba(255,255,255,0.70);
    @include iconsFonts;
    font-size: 2.5em;
    @include transition((all 0.3s ease-out));
  }
  &:hover:after,
  &:hover{
    color:rgba(255,255,255,1);
  }
}


h2.animated{
  font-family: $font-ICLPblack;
	width:100%;
	text-transform: uppercase;
	text-align: center;
	display: block;
	position: relative;
  margin-top: 20px;
  width: 100%;
  font-size: 22px;
  padding: 98px 0 20px 0;
  z-index: 1;

  @include breakpoint(tabletPortrait) {
   margin-top: 12px;
   padding: 68px 0 12px 0;
  }
  
  strong{
    display: block;
    font-weight:bold;
  }
	&:before{
    @include iconsFonts;
    position:absolute;
    content: "";
    @include transition((all 0.3s ease-out));
    color:$white;
    @include breakpoint(phonePortrait) {
   
    }
  }

  &.contact{
    &:before{
      top: 22px;
      left: 50%;
      margin-left: -16px;
      font-size: 30px;
      @include transform (rotate(-90deg));
      content: "\e048";
      @include breakpoint(phonePortrait) {
        top: 25px;
        margin-left: -11px;
        font-size: 21px;
      }
    }
    .wrapper-circle{
      @include transform(scale(1.3));
    }
  }
  &.customer{
  	&:before{
  		top: 23px;
      left: 50%;
      margin-left: -12px;
  		font-size: 1.3em;
    	content: "\e071";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
        margin-left: -11px;
        top:25px;
      }
    }
  }
  &.resources{
  	&:before{
  		top: 23px;
      left: 50%;
      margin-left: -14px;
  		font-size: 28px;
    	content: "\e06a";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
        margin-left: -11px;
        top:25px;
      }
    }
  }
  &.strategy{
    &:before{
      top: 18px;
      left: 50%;
      margin-left: -20px;
      font-size: 38px;
      content: "\e09e";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
        margin-left: -11px;
        top:25px;

      }
    }
  }
  &.airline{
  	&:before{
  		top: 20px;
      left:50%;
      margin-left: -15px;
  		font-size: 1.8em;
    	content: "\e09e";
    }
  }
  &.automobile{
  	&:before{
  		top: 20px;
      left:50%;
      margin-left: -15px;
  		font-size: 1.8em;
    	content: "\e087";
    }
  }
  &.financial-services{
  	&:before{
  		top: 20px;
      left:50%;
      margin-left: -15px;
  		font-size: 1.8em;
    	content: "\e06b";
    }
  }
  &.hotel{
  	&:before{
  		top: 20px;
      left:50%;
      margin-left: -15px;
  		font-size: 1.8em;
    	content: "\e015";
    }
  }
  &.luxury{
  	&:before{
  		top: 20px;
      left:50%;
      margin-left: -15px;
  		font-size: 1.8em;
    	content: "\e001";
    }
  }
  &.retail{
  	&:before{
  		top: 20px;
      left:50%;
      margin-left: -15px;
  		font-size: 1.8em;
    	content: "\e001";
    }
  }
  &.technology{
  	&:before{
  		top: 20px;
      left:50%;
      margin-left: -15px;
  		font-size: 1.8em;
    	content: "\e001";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
      }
    }
  }
  &.insight{
    &:before{
      top: 18px;
      left: 50%;
      margin-left: -19px;
      font-size: 40px;
      content: "\e087";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
      }
    }
  }
  &.engagement{
    &:before{
      top: 18px;
      left: 50%;
      margin-left: -18px;
      font-size: 36px;
      content: "\e06b";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
      }
    }
  }
  &.technology{
    &:before{
      top: 18px;
      left: 50%;
      margin-left: -21px;
      font-size: 40px;
      content: "\e015";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
      }
    }
  }
  &.customerengagement{
    &:before{
      top: 18px;
      left: 50%;
      margin-left: -18px;
      font-size: 35px;
      content: "\e098";
      @include breakpoint(phonePortrait) {
        font-size: 30px;
      }
    }
  }
 
}