.sections{
	> section{
		clear:both;
		width: 100%;
		&.angle{
			position: relative;
			margin-bottom: -112px;
			padding-bottom: 112px;
			background: $white;
 
		 	&:after{
				content: '';
				position: absolute;
				width: 100%;
				height:126px;
				bottom:10%;
				left:0;
				@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-5deg) skewX(0deg));
				@include transition(opacity 0.3s ease-out);
				background: $white;
				z-index: 1;

				@include breakpoint(phonePortrait) {
					height: 30px;
					bottom: 23%;
				}
			}	
		}
 
		&.head{
			.head-container{
				.head-theme{
					.headings{
						position: relative;
						height: 100%;
						width: 100%;
						h1{
							display: block;
							position: relative;
						 
							&.imagery{
								position: relative;
								&:after{
									content: "";
									position: absolute;
									top:0;
									left:0;
									width: 100%;
									height: 100%;
									background-size: cover;
									background-repeat: no-repeat;
									z-index: 0;
								}
								&:before{
									content: "";
									position: absolute;
									top:0;
									left:5%;
									width: 90%;
									height: 100%;
									z-index: 1;
									@include transform (translateX(0px) translateY(0px) translateZ(0px) rotate(0deg));
									background-size: cover;
									@include breakpoint(phonePortrait) {
										width:100%;
										left:0;
										background-size: 150%!important;
									}
								}
							}
							&.theme{
								&:after{
									content: "";
									position: absolute;
									top:0;
									left:0;
									width: 100%;
									height: 100%;
									background-size: cover;
									z-index: 0;
								}
								&:before{
									display: none;
								}
							}
							span{
								line-height: 1.3em;
								position: relative;
								z-index: 4;
								text-align: center;
								display: block;
								font-size: 26px;
								padding:120px 20% 180px 20%;
								@include breakpoint(phonePortrait) {
									font-size: 20px;
									padding:70px 20px 140px 20px;
				        }
							}
						}
						.angle{
							position: relative;
							background: $white;
							padding: 0px 0%;
							&:before{
								content: '';
								position: absolute;
								width: 100%;
								height:186px;
								top:-76px;
								left:0;
								@include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-5deg) skewX(0deg));
								background: $white;
								z-index: 4;
								@include transition(all 0.9s ease-out);
								opacity: 1;
							}
							h2{
								top: -130px;
								position: absolute;
								z-index: 6;	
								&:before{
									@include iconsFonts;
									content: "\e026";
									font-size: 2em;
					        @include transition((all 0.3s ease-out));
					        color:$white;		         
									position: absolute;
									top: 27px;
									left: 27px;
									z-index: 4;
								}
							}
							.breadcrumb{
								top: -77px;
								z-index: 5;
							}
						}
						h3{
							margin-top: 35px;
							padding: 10px 20% 80px 20%;
							background: $white;
							font-size: 22px;
							text-align: center;
							display: block;
							position: relative;
							z-index: 4;
							@include breakpoint(phonePortrait) {
								padding: 10px 20px 80px 20px;
							}
						}
					}
				}
			}
		}



		&.angle-top-end{
			position: relative;
			margin-top: 16px;
		}
 
	

		&.contact-container{
			padding-bottom: 100px;
			background: $grey;
		}
		&.angle-top-end{
			padding-top: 90px;
			margin-top: 26px;
		}
	}
	&#contact-form{
		top: 63px;
		@include breakpoint(phonePortrait) {
      top:48px;
    }
	}
}



