#whatwedo{

	.sections{
		section{
			&.head{
				.head-container{
					.head-theme{
						@include BlueCircle;
						.headings{
 
							h1{
								&.imagery{
 									&:after{
										background:  url(../assets/images/hero-imagery-whatwedo.png) 0 center no-repeat;
									}
									&:before{
										background: url(../assets/images/svg/small-ring-red.svg) 50% 50% no-repeat;
										background-size: 79%;
									}
								}
							}
							.angle{
								h2{
									&:before{
										content: "\e076";
									}
								} 
							}
							h3{
								color: $grey;
							}
						}
					}
					
				}
			}
			&.hero-whatwedo{
				background: url(../assets/images/hero-whatwedo.jpg) no-repeat 0 0 ;
				background-size: cover;
				position: relative;
				padding: 19.2% 0;
				@include transition((opacity 0.3s ease-out));
				opacity: 0.95;
				z-index: 1;
				&:hover{
					opacity: 1;
				}
 
				a.pane-content{
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					padding: 0;
				}
				h2{
					position: absolute;
					top: 30%;
				}
				@include breakpoint(phonePortrait) {
					padding: 0;
					height: 200px;
						h2{
							top:10%;
						}
				}
			}
			&.copy-content{
				&:before{
					background-image: url(../assets/images/svg/large-ring.svg);
					@include breakpoint(phonePortrait) {
						left: -140px;
						top: -40px;
						width: 210%;
					}
				}

				.copy{
					padding: 38px 0px 38px 110px; 
					&:nth-child(odd){
						background:$lighter-grey;
					} 

					h2{
						font-family: $font-ICLPblack;
						color:$darker-blue;
						padding-right: 50%;
						padding-bottom: 18px;
						padding-top: 40px;
						@include breakpoint(phonePortrait) {
							padding-right: 0%;
							font-family: $font-ICLPblack;
		        }
					}
					p{
						line-height: 1.7em;
						font-size: 17px;
						color:$grey;
						padding-right: 50%;
						padding-bottom: 40px;
						font-family: $font-ICLPlight;
						@include breakpoint(phonePortrait) {
							padding-right: 0%;
							font-size: 16px;
		        }
					}
					@include breakpoint(phonePortrait) {
						background-image: none;
						padding: 20px;

	        }
				}
			}
			&.hero-industrysectors{
				background: url(../assets/images/hero-industrysectors.jpg) no-repeat 0 0 ;
				background-size: cover;
				position: relative;
				padding: 92px 0;
				@include transition((background 0.3s ease-out));
				opacity: 1;
				min-height: 559px;
				@include breakpoint(phonePortrait) {
					display: none;
				}

					h2{
						display: block;
						text-align: center;
						padding:0px 0 12px 0;
					}
					p{
						font-size: 17px;
						display: block;
						text-align: center;
						padding:0 0 12px 0;
					}
					.icons{
						width: 100%;
						display: table;
						padding: 60px 0 0 0;
						h2.animated{
							padding: 0 0%;
							padding-top: 110px;
							width: 14.28571428571429%;
							font-size: 17px;
							display: table-cell;
						}
					}	 
			}
		}






	}



}