@mixin unselectable() {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}
@mixin box-sizing($box-model: $default-box-sizing) {
  $box-model: unquote($box-model);
  @include prefixed-properties(css3-boxsizing, $box-sizing-support-threshold, (box-sizing: $box-model));
}
@mixin roundcorners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
}
@mixin gradient($from, $to) {
    background: $to;
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
    background: -o-linear-gradient(top, $from 0%,$to 100%);
    background: -ms-linear-gradient(top, $from 0%,$to 100%);
    background: linear-gradient(to bottom, $from 0%,$to 100%);
}
@mixin sprite-background($x, $y) {
  background-image: url('../assets/images/sprites.png');
  background-position: $x $y;
  overflow: hidden;
  background-repeat: no-repeat;
}
@mixin spinner-background($x, $y) {
  background-image: url('../assets/images/spinner.png');
  background-position: $x $y;
  overflow: hidden;
  background-repeat: no-repeat;
}

@mixin main-background {
  @include background-image(radial-gradient(top, ellipse cover, #0d2f6b 0%, #000 75%));
}

@mixin iconsFonts{
    font-family: 'Simple-Line-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@mixin circle{

  .wrapper-circle{
    width: 73px;
    height: 73px;
    position: absolute;
    left:50%;
    margin-left: -37px;
    top:0px;
    clip: rect(0px, 100px, 100px, 50px);

    &:focus .circle[data-anim~=bigger],
    &:hover .circle[data-anim~=bigger]{
      opacity: 0.75;
    }
    &:focus .circle[data-anim~=bigger]:before,
    &:hover .circle[data-anim~=bigger]:before{
      @include transform (rotate(180deg));
    }
    &:focus .circle[data-anim~=smaller],
    &:hover .circle[data-anim~=smaller]{
      opacity: 1;
    }
    &:focus .circle[data-anim~=smaller]:before,
    &:hover .circle[data-anim~=smaller]:before{
      @include transform (rotate(180deg));
    }

    @include breakpoint(phonePortrait) {
      @include transform (scale(0.7));
    }
  }

 .circle {
    &[data-anim~=bigger]{
      @include transition(all 0.3s linear);
      opacity: 0.50;
      @include transform(translateZ(0px));
      @include transform (rotate(-90deg));
      top: 73px;
      left: 0px;
      position: absolute;
      &:before{
        top: 0;
        left: 0;
        content:'';
        width: 73px;
        height: 73px;
        border: 2px solid $white;
        border-radius: 50px;
        position: absolute;
        clip: rect(0px, 50px, 100px, 0px);
        @include transition(all 0.3s linear);
      }
      &:after{
        top: 0;
        left: 0;
        content:'';
        width: 73px;
        height: 73px;
        border: 2px solid $white;
        border-radius: 50px;
        position: absolute;
        clip: rect(0px, 50px, 100px, 0px);
      }
    }
    &[data-anim~=smaller]{
      @include transition(all 0.3s linear);
      opacity: 0.75;
      @include transform(translateZ(0px));
      top: 6px;
      left: 6px;
      position: absolute;

      &:before{
        top: 0;
        left: 0;
        content:'';
        width: 61px;
        height: 61px;
        border: 5px solid $white;
        border-radius: 50px;
        position: absolute;
        clip: rect(0px, 50px, 100px, 0px);
        @include transition(all 0.3s linear);
      }
      &:after{
        top: 0;
        left: 0;
        content:'';
        width: 61px;
        height: 61px;
        border: 5px solid $white;
        border-radius: 50px;
        position: absolute;
        clip: rect(0px, 50px, 100px, 0px);
      }
    }
  }
  .wrapper-circle[data-anim~=wrapper] {
    clip: rect(auto, auto, auto, auto);
  }
}

@mixin RedCircle{
  h2{
    width: 114px;
    height: 114px;
    position: absolute;
    left:50%;
    margin-left: -57px;
    bottom:0px;
    background: $red;
    border-radius: 50%;
    border: 3px solid $white;
   .fullcircle {
      opacity: 1;
      @include transition(opacity 0.3s linear);
      @include transform(translateZ(0px));
      position: absolute;
      top: 8px;
      left: 8px;
      width: 93px;
      height: 93px;
      ////border: 5px solid $white;
      border-radius: 50%;
    }
  }
}

@mixin BlueCircle{

  h2{
    width: 114px;
    height: 114px;
    position: absolute;
    left:50%;
    margin-left: -57px;
    bottom:0px;
    background: $dark-blue;
    border-radius: 50%;
    border: 3px solid $white;
   .fullcircle {
      opacity: 1;
      @include transition(opacity 0.3s linear);
      @include transform(translateZ(0px));
      position: absolute;
      top: 8px;
      left: 8px;
      width: 93px;
      height: 93px;
      //border: 5px solid $white;
      border-radius: 50%;
    }
  }
}

@mixin OrangeCircle{

  h2{
    width: 114px;
    height: 114px;
    position: absolute;
    left:50%;
    margin-left: -57px;
    bottom:0px;
    background: $orange;
    border-radius: 50%;
    border: 3px solid $white;
   .fullcircle {
      opacity: 1;
      @include transition(opacity 0.3s linear);
      @include transform(translateZ(0px));
      position: absolute;
      top: 8px;
      left: 8px;
      width: 93px;
      height: 93px;
      //border: 5px solid $white;
      border-radius: 50%;
    }
  }
}

@mixin hotspot{
  .hotspot{
    @include transition(all 0.3s ease-out);
    @include transform(translateZ(0px));
    position:absolute;
    cursor:pointer;
    width: 37px;
    height: 37px;

    &:hover{
      @include transform(translate( 0% , 0% ) scale( 1.5 ));
    }

    &:after,
    &:before{
      position:absolute;
      content:"";
    }
    &:before{
      width:33px;
      height:33px;
      border:2px solid $white;
      @include border-radius(9em);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    &:after{
      @include border-radius(9em);
      background: rgba(255,255,255,0.50);
      width:21px;
      height:21px;
      top: 6px;
      bottom: 0;
      right: 0;
      left: 6px;
    }
  }
}

@mixin breakpoint($point) {

  @if $point == phonePortrait {
    @media // iPhone (portrait and landscape)
    handheld,
      only screen and (min-device-pixel-ratio: 2),
      only screen and (max-width: #{$bp-iphone-max})
                  and (min-width: #{$bp-iphone-min}){
      @content;

    }
  } @else if $point == phoneLandscape {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == tabletPortrait {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $point == tabletLandscape {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == desktop {
    @media (max-width: 1170px) {
      @content;
    }
  }  @else if $point == wideDesktop {
    @media (min-width: 1300px) {
      @content;
    }
  }
   @else if $point == extraWideDesktopMenuOpen {
    @media (min-width: 1600px) {
      @content;
    }
  }
}

@mixin ellipsis() {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  height: $ellipsis-font-size*$ellipsis-line-height*$ellipsis-lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $ellipsis-font-size;
  line-height: $ellipsis-line-height;
  -webkit-line-clamp: $ellipsis-lines-to-show;
  -moz-line-clamp: $ellipsis-lines-to-show;
  @include box-orient (vertical);
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
}

@mixin PrevNext(){
  .prev {
    top: 100px;
    margin-left: -572px;
    left:50%;
    opacity: 1;
    z-index: 6;
    cursor:pointer;
    @include transition(all .5s ease);
    background: rgba(0,0,0,0.3);
    position:absolute;

    @include roundcorners(4px);
    padding:16px 20px 16px 40px;
    color:$link;
    &:before{
      @include transition(all .5s ease);
      content:"";
      position:absolute;
      left: 16px;
      top: 13px;
      @include transform(rotate(0deg));
      width:13px;
      height:21px;
      @include sprite-background(-155px, 0px);
    }
    &:focus,
    &:hover{
      background: rgba(0,0,0,0.60);
    }
  }

  .bx-prev {
    top:40%;
    //opacity: 0;
    @include transition(all .5s ease);
    text-indent: -999em;
    background: rgba(0,0,0,0.0);
    width:61px;
    height:61px;
    position:absolute;
    left: 50%;
    margin-left:-570px;
    @include roundcorners(6em);
    &:before{
      @include transition(all .5s ease);
      content:"";
      position:absolute;
      left:16px;
      top: 14px;
      @include transform(rotate(-180deg));
      width:22px;
      height:34px;
      @include sprite-background(-87px, 0px);
    }
    &:focus,
    &:hover{
      background: rgba(0,0,0,0.40);
    }
  }
  .bx-next {
    top:40%;
    //opacity: 0;
    @include transition(all .5s ease);
    text-indent: -999em;
    position:absolute;
    right: 50%;
    margin-right:-570px;
    background: rgba(255,255,255,0.0);
    width:61px;
    height:61px;
    @include roundcorners(6em);

    &:after{
      @include transition(all .5s ease);
      content:"";
      position:absolute;
      right:18px;
      top: 14px;
      @include transform(rotate(0deg));
      width: 20px;
      height: 32px;
      @include sprite-background(-87px, 0px);
    }

    &:focus,
    &:hover{
      background: rgba(0,0,0,0.40);
    }
  }
  @include breakpoint(desktop) {
    .bx-prev{
      top: 25%;
      left: 0;
    }
    .bx-next{
      top: 25%;
      right: 0;
    }
  }
  &:focus .bx-next,
  &:hover .bx-next,
  &:focus .bx-prev,
  &:hover .bx-prev{
    opacity:1;
  }
}

@mixin PrevNextSlider(){
  .bx-prev {
    top:0;
    opacity: 1;
    @include transition(all .35s ease);
    text-indent: -999em;
    position:absolute;
    left:-30px;
    width: 24px;
    height: 240px;
    @include breakpoint(tabletPortrait) {
      left:-6px;
    }
    &:before{
      opacity:1;
      @include transition(opacity .35s ease);
      content:"";
      position:absolute;
      left: 0;
      top: 44%;
      @include transform(rotate(-180deg));
      width: 10px;
      height: 17px;
      @include sprite-background(-120px, 0px);
    }
    &:after{
      opacity:0;
      @include transition(opacity .35s ease);
      content:"";
      position:absolute;
      left: 0;
      top: 44%;
      @include transform(rotate(-180deg));
      width: 10px;
      height: 17px;
      @include sprite-background(-132px, 0px);
    }
    &:hover:after{
      opacity:1;
      @include sprite-background(-132px, 0px);
    }
    &:hover:before{
      opacity:0;
      @include sprite-background(-120px, 0px);
    }
    &.disabled{
      display:none;
    }
  }

  .bx-next {
    top:0;
    opacity: 1;
    @include transition(all .35s ease);
    text-indent: -999em;
    position:absolute;
    right:-30px;
    width: 24px;
    height: 240px;
    @include breakpoint(tabletPortrait) {
      right:-6px;
    }
    &:after{
      opacity: 1;
      @include transition(opacity .35s ease);
      content:"";
      position:absolute;
      right:0;
      top: 44%;
      @include transform(rotate(0deg));
      width: 10px;
      height: 17px;
      @include sprite-background(-120px, 0px);
    }
    &:before{
      opacity: 0;
      @include transition(opacity .35s ease);
      content:"";
      position:absolute;
      right:0;
      top: 44%;
      @include transform(rotate(0deg));
      width: 10px;
      height: 17px;
      @include sprite-background(-132px, 0px);
    }
    &:hover:after{
      opacity: 0;
      @include sprite-background(-120px, 0px);
    }
    &:hover:before{
      opacity: 1;
      @include sprite-background(-132px, 0px);
    }
    &.disabled{
      display:none;
    }
  }
  &:focus .bx-next,
  &:hover .bx-next,
  &:focus .bx-prev,
  &:hover .bx-prev{
    opacity:1;
  }
}

@mixin button-play{
  position:relative;
  padding:7px 0 7px 27px;
  font-size:16px;
  color: $white;
  margin-top: 12px;
  display: inline-block;
  cursor:pointer;
  @include transition(color 0.3s ease-out);

  &:before{
    @include transform(translateZ(0px));
    @include transition(opacity 0.3s ease-out);
    opacity: 1;
    content:"";
    position:absolute;
    @include sprite-background( 0px, -38px );
    content:"";
    width: 19px;
    height: 19px;
    left:0;
    top:5px;
   }
   &:after{
    @include transform(translateZ(0px));
    @include transition(opacity 0.3s ease-out);
    opacity: 0;
    content:"";
    position:absolute;
    @include sprite-background( -21px, -38px );
    content:"";
    width: 19px;
    height: 19px;
    left:0;
    top:5px;
   }

   &:hover{
    color:$active-link;
   }
   &:hover:before{
    opacity:0;
  }
   &:hover:after{
    opacity:1
  }

   @include breakpoint(phonePortrait) {
    font-size: 14px;
  }
}

@mixin scrolltotop(){
  padding: 18px 7%;
  @include transform (translateX(0px) translateY(0px) translateZ(0px) skewY(-5deg) skewX(0deg));
  background: $orange;
  position: relative;
  z-index:1;
  width: 100%;
  @include transition(opacity 0.3s ease-out);
  font-family: $font-ICLPblack;
  text-transform: uppercase;
  margin-bottom: 100px;
  display: inline-block;

  &:hover{
  }
  &:after{
    content:"";
    position:absolute;
    background: url(../assets/images/arrow.png) no-repeat 0 center ;
    right:10%;
    top:9px;
    width: 11px;
    height:35px;
    @include transform(translateZ(0px) rotate(-90deg));
    @include transition(opacity 0.3s ease-out);
  }

  &:focus:after,
  &:hover:after{
    opacity: 0.85;
  }
  @include breakpoint(phonePortrait) {
    margin-bottom: 50px;
  }
}

@mixin banner(){

  .item{
    display: table-cell;
    position:relative;
    width: 50.133333%;
    vertical-align: bottom;

    @include breakpoint(phonePortrait) {
      display: inline-block;
      width: 100%;
    }
    > a{
      color:$link;
      display: block;
      background: $grey;
      figure{
        overflow: hidden;
        max-height: 500px;
        position:relative;
        > span.image {
          position:relative;
          padding-top:82%;
          display: block;
          overflow: hidden;
          opacity:1;
          @include transition(opacity 0.35s ease-out);
          @include transform(translateZ(0px));

          img{
            width:100%;
            position:absolute;
            top:0;
            left:0;
            display: block;
            height: auto;
            line-height: 0;
          }
        }
        figcaption{
          position: absolute;
          top: 0%;
          width: 100%;
          height: 100%;

          @include breakpoint(phonePortrait) {
           }

          h2{
            text-transform: uppercase;
            color: $white;
            width:100%;
            text-align: center;
            padding: 30% 0 12px 0;
            display: block;
          }
          p{
            width:50%;
            text-align: center;
            display: block;
            color: $white;
            position: relative;
            padding-top: 12px;
            margin:auto;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 55px;
            font-size: 16px;

            &:before{
              content:'';
              position:absolute;
              left:10%;
              top:0px;
              width:80%;
              height: 1px;
              background:$white;
            }
          }

          span.findoutmore{
            border: 1px solid $white;
            @include border-radius(3px);
            padding: 10px 40px;
            margin:20px auto;
            text-align: center;
            display: table;

          }

        }


      }
      &:focus figure span,
      &:hover figure span{
        opacity:0.75;

        img{
           //@include filter(blur(3px));
        }
      }
    }
  }
}

@mixin arrowLeftRight(){
  div {
    margin:0;
    @include appearance(none);
    background-color: rgba(120,182,250,0.20);
    position: relative;
    margin:0px;
    cursor: pointer;
    @include transform(translate3d(0,0,0));
    position: absolute;
    color:#fff;
    text-transform:capitalize;
    font-size:20px;
    padding: 16px 0;
    @include transition(max-width 0.35s ease);
    max-width:48px;
    overflow: hidden;

    &:after,
    &:before{
      content:"";
      position: absolute;
      top: 48%;
      width: $isize;
      height: $thickness;
      border-radius: $thickness / 2;
      background: $link;
      @include transition(all 0.35s ease);
    }
    &:focus:after,
    &:hover:after,
    &:focus:before,
    &:hover:before{
      background: $active-link;
    }

    h3{
      opacity:0;
      @include transition(all 0.35s ease);
      background-color: rgba(120,182,250,0.0);
      color:$link;
      font-size:20px;
      text-transform:capitalize;
      padding: 9px 0;
      &:focus,
      &:hover{
        color: $active-link;
      }
    }
    &.navigate-left {
      left:0%;
      direction:ltr;
      padding-right: 18px;
      padding-left: 28px;


      &:after {
        @include transform(translate( 0, 6px ) rotate( $angle ));
      }
      &:before {
        @include transform(translate( 0, -6px ) rotate( -$angle ));
      }

      &:after,
      &:before{
        left:12px;
      }
      h3{
        padding-left:16px;
      }
      &:focus,
      &:hover{
        max-width: 300px;
        h3{
          opacity:1;

        }
      }
    }
    &.navigate-right {
      right: 0%;
      direction:rtl;
      padding-right:28px;
      padding-left:18px;
      &:after {
        @include transform(translate( 0, 6px ) rotate( -$angle ));
      }
      &:before {
        @include transform(translate( 0, -6px ) rotate( $angle ));
      }

      &:after,
      &:before{
        right:12px;
      }

      h3{
        padding-right:16px;
      }
      &:focus,
      &:hover{
         max-width: 300px;
        h3{
          opacity:1;

        }
      }

    }

    &[data-state=disabled] {
      opacity: 0.3;
      cursor: default;
    }
    &:focus,
    &:hover{
        h3{
          color: $active-link;
        }
      }
  }
}

@mixin input(){
  display: block;
  border:0px;
  vertical-align: middle;
  line-height: 1.42857;
  padding: 0px 10px 0 10px;
  @include transition (all 0.3s ease-out);
  text-align: left;
  color:$white;

  &[type="search"],
  &[type="text"]{
    font-weight: normal;
    background-image: none;
    font-family: $font-family;
    font-size:18px;
    background-color:rgba(255,255,255,0.02);
    width: 100%;
    height:46px;
    color:$white;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

    &.focus,
    &:hover,
    &:focus{
      background:rgba(255,255,255,0.04);
      color:$white;

    }
}

@mixin search-box(){
 position:relative;
 float:left;
 z-index:1;
 label{
    position:absolute;
    right:10px;
    top:6px;
    @include sprite-background(0, 0);
    display: block;
    text-indent:-9999em;
    width:  18px;
    height: 18px;
    @include breakpoint(phonePortrait) {
      top:0;
    }
  }
  input{
    @include input;
    padding: 0px 30px 0 10px;
  }
}

@mixin pin() {
  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label.selected,
  input[type=checkbox]:checked + label.selected{
    &:before{
      position:absolute;
      content: "";
      left:4px;
      top:25px;
      @include sprite-background(-190px, 0px);
      width: 21px;
      height: 21px;
      z-index: 2;
    }
    &:after{
      position:absolute;
      content: "";
      left: 0;
      top:21px;
      background:$white;
      width: 21px;
      height: 21px;
      @include roundcorners (6em);
    }
  }

  input[type=checkbox] + label {
    &:before{
      position:absolute;
      content: "";
      background:none;
      left:4px;
      top:24px;
    }
    &:after{
      @include transition (all 0.3s ease-out);
      position:absolute;
      content: "";
      left:0px;
      top:21px;
      background:none;
      border:2px solid $white;
      width: 21px;
      height: 21px;
      @include roundcorners (6em);
    }
  }


  label {


   }
}


@mixin fadein(){
  opacity:0;
  @include animation(fadeIn ease-in 1);
  @include animation-fill-mode(forwards);
  @include animation-duration(1s);
  @include animation-delay(1.2s);
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


